<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.fireman_classification').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :name) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @fireman_classifications.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th>
                  <%= t('general.attributes.name').capitalize %>
                </th>
                <th></th>
                <% if can? :edit, FiremanClassification %>
                  <th></th>
                <% end %>
                <% if can? :delete, FiremanClassification %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @fireman_classifications.each do |fireman_classification| %>
                <tr>
                  <td>
                    <%= fireman_classification.name %>
                  </td>
                  <td style="text-align:center">
                    <%= link_to fireman_classification do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <% if can? :edit, FiremanClassification %>
                    <td style="text-align:center">
                      <%= link_to edit_fireman_classification_path(fireman_classification) do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    </td>
                  <% end %>
                  <% if can? :delete, FiremanClassification %>
                    <td style="text-align:center">
                      <%= link_to fireman_classification, method: :delete, 
                      data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <%= will_paginate @fireman_classifications %>
      </div>
      <div class="col-lg-3 text-right">
        <% if can? :create, FiremanClassification %>
          <%= link_to new_fireman_classification_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.fireman_classification')).capitalize %>
          <% end %>
        <% end %>
      </div>
    </div>    
  </div>
</div>
