<div class="row">
  <div class="col-lg-12">
    <%= form_for(@note, html: { role: 'form' }, validate: true) do |f| %>
      <% if @note.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

          <ul>
          <% @note.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :title, t('general.attributes.title').capitalize   %><br>
        <%= f.text_field :title, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :description, t('general.attributes.description').capitalize   %><br>
        <%= f.text_area :description, class: 'form-control'  %>
      </div>
      <%= f.hidden_field :type, value: @note.type %>
      <%= f.hidden_field :dispatch_id, value: @note.dispatch_id %>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div> 

    <% end %>
  </div>
</div>