<div class="panel panel-default">
  <div class="panel-heading"> 
  <%= t('general.listing', entity: t('general.models.note').pluralize(I18n.locale)).capitalize %>
  </div>
  <div class="panel-body">
  <% if @notes.empty? %>
      <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%= t('general.registers_not_found') %>
      </div>
  <% else %>
    <div  class="table-responsive">
      <div class="dataTables_wrapper form-inline" role="grid">
        <table class="table table-hover dataTable no-footer">
          <thead>
            <tr>
                          <th>
                <%= t('general.attributes.type').capitalize %>
              </th>
                          <th>
                <%= t('general.attributes.description').capitalize %>
              </th>
                          <th>
                <%= t('general.models.dispatch').capitalize %>
              </th>
                        
              <th></th>
              <% if can? :edit, Note %><th></th><% end %>
              <% if can? :delete, Note %><th></th><% end %>
            </tr>
          </thead>

          <tbody>
            <% @notes.each do |note| %>
              <tr>
                              <td>
                  <%= note.type %>
                </td>
                              <td>
                  <%= note.description %>
                </td>
                              <td>
                  <%= note.dispatch.id %>
                </td>
                              <td class="action">
                  <%= link_to note do %>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <%= t('general.links.show').capitalize %>
                  <% end %>
                </td>
              <% if can? :edit, Note %><th>
                <td class="action">
                  <%= link_to edit_note_path(note) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <%= t('general.links.edit').capitalize %>
                  <% end %>
                </td>
              <% end %>
              <% if can? :delete, Note %><th>
                <td class="action">
                  <%= link_to note, method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    <%= t('general.links.destroy').capitalize %>
                  <% end %>
                </td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
    <div class="col-lg-9">
      <%= will_paginate @notes %>
    </div>

  </div>
</div>
