<div class="panel panel-default">

  <div class="panel-heading">
    <%= t('general.models.note').titleize %>
  </div>

  <div class="panel-body">
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.type').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @note.type %></div>
      </div>
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.title').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @note.title %></div>
      </div>
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.description').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @note.description %></div>
      </div>
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.dispatch').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @note.dispatch.id %></div>
      </div>
      </div>
  <div class="panel-footer">

    <%= link_to notes_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, Note %><th>
      <%= link_to edit_note_path(@note), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
