<div class="row">
  <div class="col-lg-12">
    <%= form_for(@fire_department, html: { role: 'form' }, validate: true) do |f| %>
      <% if @fire_department.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fire_department.errors.count, "error") %>
            prohibited this fire_department from being saved:</h2>
          <ul>
            <% @fire_department.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, t('general.attributes.name').capitalize   %><br>
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :code, t('general.attributes.code').capitalize   %><br>
        <%= f.text_field :code, class: 'form-control'  %>
      </div>

      <div class="form-group">
          <%= f.label :logo, t("general.attributes.logo").capitalize %>  
          <div class="logo">
              <%= image_show @fire_department %>
          </div>
          <%= f.file_field :logo, title: t("general.upload_file").capitalize %> 
      </div>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
