<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.fire_department').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fire_department.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.code').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fire_department.code %></div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to fire_departments_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, @fire_department %>
      <%= link_to edit_fire_department_path(@fire_department), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
