<div class="row" >
  <div class="col-lg-12">
    <%= foreign_form.fields_for :person, validate: true do |person_form| %>
      <% if @person.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% @person.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= person_form.label :name, t('general.attributes.name').capitalize %><br>
        <%= person_form.text_field :name, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= person_form.label :last_name, t('general.attributes.last_name').capitalize %><br>
        <%= person_form.text_field :last_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= person_form.label :document, t('general.attributes.document').capitalize %><br>
        <%= person_form.text_field :document, class: 'form-control' %>
      </div>
      <div class="form-group input-group">
        <%= person_form.label :birth_date, t('general.attributes.birth_date').capitalize %><br>
        <%= person_form.date_select :birth_date, {start_year: Time.now.year-95, end_year: Time.now.year-18}, { class: 'form-control', style: 'width: 100px'} %>
      </div>
      <div class="form-group">
        <%= person_form.label :phone_number, t('general.attributes.phone_number').capitalize %><br>
        <%= person_form.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= person_form.label :gender, t('general.attributes.gender').capitalize %><br>
        <%= person_form.select :gender, Person.gender.options, {}, class: 'form-control' %>
      </div>
      <%= gmap_nested_picker(person_form, @person, {has_type: true}) %>
      <% if local_assigns[:not_foreign] %>
        <div class="actions">
          <%= person_form.submit t('general.actions.save', entity: t('general.models.person')).capitalize, class: "btn  btn-primary" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
