<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.listing', entity: t('general.models.person').pluralize(I18n.locale)).capitalize %>
  </div>
  <div class="panel-body">
    <% if @people.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.name').capitalize %></th>
                <th><%= t('general.attributes.last_name').capitalize %></th>
                <th><%= t('general.attributes.birth_date').capitalize %></th>
                <th><%= t('general.attributes.email').capitalize %></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @people.each do |person| %>
                <tr>
                  <td><%= person.name %></td>
                  <td><%= person.last_name %></td>
                  <td><%= person.birth_date %></td>
                  <td><%= person.email %></td>
                  <td style="text-align:center">
                    <%= link_to person  do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <% if can? :edit, person %>
                    <td style="text-align:center">
                      <%= link_to edit_person_path(person), data: { no_turbolink: true } do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    </td>
                  <% end %>
                  <% if can? :delete, person %>
                    <td style="text-align:center">
                      <%= link_to person, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to new_person_path, class: 'btn btn-primary', data: { no_turbolink: true } do %>
      <span class="glyphicon glyphicon-plus"></span>
      <%= t('general.actions.create', entity: t('general.models.person')).capitalize %>
    <% end %>
  </div>
</div>
