<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('general.actions.create', entity: t('general.models.person')).capitalize %>
    </div>
    <div class="panel-body ">
      <%= render 'form' %>
      <%= link_to people_path, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        <%= t('general.links.back').capitalize %>
      <% end %>
    </div>
  </div>
</div>
