<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.person').titleize %>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt><%= t('general.attributes.name').capitalize %>:</dt>
      <dd><%= @person.name %></dd>
      <dt><%= t('general.attributes.last_name').capitalize %>:</dt>
      <dd><%= @person.last_name  %></dd>
      <dt><%= t('general.attributes.email').capitalize %>:</dt>
      <dd><%= @person.email %></dd>
      <dt><%= t('general.attributes.birth_date').capitalize %>:</dt>
      <dd><%= @person.birth_date %></dd>
    </dl>
  </div>
  <div class="panel-footer">
    <%= link_to people_path, :class => "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <%= link_to edit_person_path(@person), :class => 'btn btn-primary', data: { no_turbolink: true } do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t('general.links.edit').capitalize %>
    <% end %>
  </div>
</div>
