<div class="row">
  <div class="col-lg-12">
    <%= form_for @complaint, html: { role: 'form' }, validate: true do |f| %>
      <% if @complaint.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@complaint.errors.count, "error") %>
            prohibited this complaint from being saved:</h2>
          <ul>
            <% @complaint.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <%= f.fields_for :complainant do |cf| %>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <%= cf.label :name, t('general.models.complainant').capitalize %>
              <%= cf.text_field :name, class: 'form-control' %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <%= cf.label :phone_number, t('general.attributes.phone_number').capitalize %>
              <%= cf.telephone_field :phone_number, class: 'form-control' %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 form-group">
            <%= f.label :situation, t('general.attributes.situation').capitalize %><br>
            <%= f.text_area :situation, class: 'form-control'  %>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12 form-group">
            <%= f.label :incident_type_id, t('general.models.incident_type').capitalize %><br>
            <%= f.collection_select(:incident_type_id, @incident_types, :id, :name, {}, class: 'form-control combobox') %>
          </div>
        </div>

      <% end %>

      <div class="row">
        <div class="col-lg-12">
          <%= gmap_picker(f, @complaint) %>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
