<div  class="table-responsive">
  <div class="dataTables_wrapper form-inline" role="grid">
    <table class="table table-hover dataTable no-footer">
      <thead>
        <tr>
          <th><%= t('general.attributes.complaint.created_at').capitalize %></th>
          <th><%= t('general.attributes.complaint.complainant_name').capitalize %></th>
          <th><%= t('general.attributes.situation').capitalize %></th>
          <th><%= t('general.attributes.status').capitalize %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @complaints.each do |complaint| %>
          <tr>
            <td><%= l complaint.created_at, format: :long %></td>
            <td><%= complaint.complainant_name %>
              (<%= complaint.complainant_phone_number %>)</td>
            <td><%= truncate complaint.situation, length: 40 %></td>
            <td><%= t("general.attributes.complaint_#{complaint.status}").capitalize %></td>
            <td style="text-align:center">
              <%= link_to complaint do %>
                <span class="glyphicon glyphicon-info-sign"></span>
                <%= t('general.links.show').capitalize %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="pull-right">
  <% unless @complaints.empty? %>
    <%= link_to show_map_complaints_path(complaints: @complaints.collect(&:id)), remote: true do %>
      <i class="fa fa-map-marker"></i>
      <%= t('general.links.show_map').capitalize %>
    <% end %>
  <% end %>
</div>
<div id="map">
  
</div>