<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('general.editing', entity: t("general.models.complaint")).capitalize %>
      </div>
      <div class="panel-body">
        <%= render partial: 'form', locals: { actions: actions(t('general.models.complaint')) } %>
      </div>
    </div>
  </div>
</div>