<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.complaint').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :situation, :complainant_name, :complainant_phone_number) %>
      </div>
    </div>    
  </div>
  <div class="panel-body">
    <%= render partial: 'index' %>
  </div>

  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-8">
        <%= will_paginate @complaints %>
      </div>
      <div class="col-lg-4 text-right">
        <% if can? :create, Complaint %><th>
          <%= link_to new_complaint_path, :"data-no-turbolink" => true, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.complaint')).capitalize %>
          <% end %>
        <% end %>
        <%= link_to search_complaints_path, class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-search"></span>
          <%= t('general.advanved_search').capitalize %>
        <% end %>
      </div>
    </div>  
  </div>
</div>
