<div class="row">
  <div class="col-lg-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t('general.actions.create', entity: t('general.models.complaint')).capitalize %>
      </div>
      <div class="panel-body">
        <% actions = lambda do |f| %>
          <%= link_to("javascript:history.back();", class: "btn btn-default") do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            <%= t("general.links.back").capitalize %>
          <% end %>

          <%= f.submit t("general.actions.continue"), class: "btn btn-primary" %>
        <% end %>
        <%= render partial: 'form', locals: { actions: actions } %>
      </div>
    </div>
  </div>
</div>
