
<%= render layout: 'reports/table', locals: { list: @complaints, 
      header_attributes: [
              t('general.attributes.complaint.created_at').capitalize,
              t('general.attributes.complaint.complainant_name').capitalize,
              t('general.attributes.complainant_phone_number').capitalize,
              t('general.attributes.situation').capitalize,
              t('general.attributes.status').capitalize ],
      listing_text: "#{t('general.report_of', entity: t('general.models.complaint').pluralize(I18n.locale)).capitalize} - #{l(Time.now, format: :long)}"   }  do |complaint| %>
    <tr>
      <td>
        <%= l complaint.created_at, format: :short  %>
      </td>
      <td>
        <%=  truncate complaint.complainant_name, length: 20  %>
      </td>
      <td>
        <%= truncate complaint.complainant_phone_number, length: 15 %>
      </td>
      <td>
        <%= truncate complaint.situation, length: 40 %>
      </td>
      <td>
        <%= t("general.attributes.complaint_#{complaint.status}").capitalize %>
      </td>
    </tr>
<% end %>