<% per_page = 3 if local_assigns[:per_page].nil?  %>
<% per_page = @per_page || per_page %>
<% heading_date  = l(@complaint.created_at,format: :long) %>
<% dispatch_count = @complaint.dispatches.count %>
<% header = capture do %>
   <span class="col-lg-12">
    <span class="row">
      <%= render partial: 'reports/header', locals: { listing_text: '' } %>
    </span>
    <span class="row" style="padding:0">
      <span class="col-lg-6">
        <span class="col-lg-3"><b><%= t('general.models.complainant').capitalize %>:</b></span>
        <span class="col-lg-9"><%= @complaint.complainant_name %></span>
      </span>

      <span class="col-lg-6">
        <span class="col-lg-3"><b><%= t('general.attributes.time').capitalize %></b></span>
        <span class="col-lg-9"><%= heading_date %></span>
      </span>
    </span>
    <span class="row">
      <span class="col-lg-12">
        <span class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>:</b></span>
        <span class="col-lg-9"><%= @complaint.address.name %></span>
      </span>
    </span>
    <span class="row">
      <span class="col-lg-12">
        <span class="col-lg-3"><b><%= t('general.models.incident_type').capitalize %>:</b></span>
        <span class="col-lg-9"><%= @complaint.incident_type_name %></span>
      </span>
    </span>

    <span class="row">
      <span class="col-lg-12">
        <span class="col-lg-3"><b><%= t('general.attributes.situation').capitalize %>:</b></span>
        <span class="col-lg-9"><%= @complaint.situation %></span>
      </span>
    </span>
  </span>
<% end  %>
<%# if @complaint.dispatches.empty? %>
  <%= header %>
<%# end %>
<% @complaint.dispatches.each_with_index do |dispatch, index| %>
  <%#= header %>
   <span class="row">
      <div class="text-left" style="margin-left: 30px">
        <%= "Despacho #{index+1} de #{dispatch_count}" %>
      </div>
    </span>
    <br/>
  <%= render partial: 'dispatches/report', locals: { listing_text: t('general.dispatch_number', { number: dispatch.id }), dispatch: dispatch, per_page: per_page, heading_date: l(dispatch.created_at, format: :long), hide_first_header: true } %>
  <!-- <p  style="page-break-after: always; " ></p> -->
<% end %>