  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{t('general.models.complaint').pluralize(I18n.locale).capitalize}" %>
      </div>
      <div class="panel-body" >
        <% criteria_params = (params[:criteria]  || {}) %>
        <div class="row">
          <%= form_tag(search_complaints_path, { method: :get, role: 'form', class: "" }) do |complaint_groups_form| %>
            
            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[fireman_id]', t('general.actions.search', entity: t('general.models.fireman')).capitalize %>
                <%= select_tag 'criteria[fireman_id]', options_for_fireman_search_select(params), { class: 'form-control combobox' } %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[vehicle_id]', t('general.actions.search', entity: t('general.models.vehicle')).capitalize %>
                <%= select_tag 'criteria[vehicle_id]', options_for_vehicle_search_select(params), { class: 'form-control combobox' } %>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[address_name]', t('general.attributes.address').capitalize %>
                <%= text_field_tag 'criteria[address_name]', criteria_params[:address_name], { class: 'form-control ' } %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[created_at]', t('general.attributes.created_at').capitalize %>
                <%= text_field_tag('criteria[created_at]', criteria_params[:created_at], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control' }) %>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[incident_type_id]', t('general.models.incident_type').capitalize %><br>
                <% selected_incident = criteria_params[:incident_type_id] %>
                <%= select_tag('criteria[incident_type_id]', options_for_select(@incident_types.map{ |i| [i.name, i.id] }, selected_incident), class: 'form-control combobox', prompt: t('general.actions.search', entity: t('general.models.incident_type') ).capitalize ) %>
              </div>
            </div> 
            <div class="col-lg-6">
              <div class="form-group text-center">
                <label><%= t('general.attributes.status').capitalize %></label><br>
                <div class="btn-group" data-toggle="buttons">
                  <% [
                      { name: "complaint_attended", icon: "glyphicon glyphicon-check" },
                      { name: "complaint_fake", icon: "glyphicon glyphicon-thumbs-down" },
                      { name: "complaint_pending", icon: "glyphicon glyphicon-phone-alt" },
                      { name: "complaint_being_attended", icon: "glyphicon glyphicon-road" },
                      { name: "any", icon: "glyphicon glyphicon-asterisk" }
                    ].each do |status| %>
                    <label  class=" btn btn-outline btn-primary  my-btn-mini <%= status[:name] == @selected_status ? 'active' : '' %>"  >
                      <span class="<%= status[:icon] %>"></span>
                      <%= t("general.attributes.#{status[:name]}").capitalize %>
                      <%= radio_button_tag 'criteria[complaint_status]', status[:name], @selected_status == status[:name], {id: status[:name] } %>
                    </label>
                  <% end %>
                </div>
              </div>

            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[from_date]', t('general.attributes.from_date').capitalize %>
                <%= text_field_tag('criteria[from_date]', criteria_params[:from_date], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control', id: 'criteria_from_date' }) %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[to_date]', t('general.attributes.to_date').capitalize %>
                <%= text_field_tag('criteria[to_date]', criteria_params[:to_date], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control', id: 'criteria_to_date' }) %>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="form-group">
                <%= submit_tag t('general.actions.search', entity: t('general.models.complaint')).capitalize, class: 'btn btn-primary' %>
                <%= link_to t('general.links.show_all').capitalize, search_complaints_path, class: 'btn btn-default', style: 'right: 35px; position: absolute' %>
              </div>
            </div>
          <% end %>
        </div>
        <%= results_quantity @complaints.count %>
        <%= render partial: 'index' %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12">
            <%= will_paginate @complaints %>
          </div>
        </div>
      </div>
    </div>
  </div>
