<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.complaint').titleize %>
    <span class="pull-right text-muted small">
      <% if can?(:print, @complaint) %>
        <%= link_to report_complaint_path(@complaint), target: "_blank" do %>
          <em><%= l(@complaint.created_at, format: :long) %></em>
          &nbsp;
          <span class="glyphicon glyphicon-print"></span>
          &nbsp;
        <% end %>
      <% else %>
        <em><%= l(@complaint.created_at, format: :long) %></em>
      <% end %>

    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.models.complainant').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @complaint.complainant_name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @complaint.address.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.models.incident_type').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @complaint.incident_type_name %></div>
    </div>

    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.situation').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @complaint.situation %></div>
    </div>

    <hr/>
    <% if can? :dispatch, @complaint %>
      <div class="row">
        <% if @complaint.dispatches.empty? %>
          <div class="col-lg-12">
            <div class="alert alert-info text-center"><%= t('messages.complaint_without_dispatches') %>. <%= link_to t('general.links.dispatch').capitalize, new_dispatch_path(@complaint), class: 'alert-link' %>.</div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% @complaint.dispatches.each do  |dispatch| %>

      <div class="col-lg-12">


        <div class="panel panel-default">
          <div class="panel-heading">
            <%= t('general.dispatch_number', { number: dispatch.id }) %>

            <span class="pull-right text-muted small">
              <% if can?(:print, dispatch) %>
                <%= link_to report_dispatch_path(dispatch), target: "_blank" do %>
                  <em><%= l(dispatch.created_at, format: :long) %></em>
                  &nbsp;
                  <span class="glyphicon glyphicon-print"></span>
                  &nbsp;
                <% end %>
              <% else %>
                <em><%= l(dispatch.created_at, format: :long) %></em>
              <% end %>
            </span>
          </div>

          <div class="panel-body">
            <div class="row">
              <% dispatch.dispatches_vehicles.each do |dvehicle| %>
                <div class="col-lg-6">
                  <div class="well well-sm white" >
                    <h4><%= "#{t('general.models.vehicle').capitalize} #{dvehicle.vehicle.code}" %></h4>

                    <div class="row">
                      <div class="col-lg-12">
                        <div class="table-responsive">
                          <table class="table table-hover table-no-head">
                            <thead>
                              <tr>
                                <th><%= t('general.attributes.code').capitalize %></th>
                                <th><%= t('general.attributes.name').capitalize %></th>
                                <th class="text-center"><%= t('general.models.driver').capitalize %></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= dvehicle.driver.code %></td>
                                <td><%= dvehicle.driver.full_name %></td>
                                <td class="text-center"><i class="fa fa-car"></i></td>
                              </tr>
                              <% dvehicle.firemen.each do |fireman| %>
                                <tr>
                                  <td><%= fireman.code %></td>
                                  <td><%= fireman.full_name %></td>
                                  <td></td>
                                </tr>
                              <% end %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div> <!-- row -->

                  </div> <!-- well -->
                </div><!-- col-6 -->
              <% end %>
            </div><!-- row -->

            <% unless dispatch.notes.empty? %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#note_of_dispatch_<%= dispatch.id %>" style="text-decoration: none" >
                      <span class="glyphicon glyphicon-th-list"></span>
                      &nbsp;
                      <%= t('general.models.note').pluralize(I18n.locale).capitalize %>
                    </a>
                  </h4>
                </div>

                <div  id="note_of_dispatch_<%= dispatch.id %>" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <div class="panel-group" id="accordion">
                      <% dispatch.notes.each do |note| %>
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <%= "#{t('general.models.final_note').capitalize}: " if note.is_a?(FinalNote) %>
                              <%= note.title %>

                              <% if can? :edit, note %>
                                <%= link_to  edit_note_path(note) do %>
                                  &nbsp;<i class="fa fa-pencil"></i>
                                <% end %>
                              <% end %>

                              <span class="pull-right text-muted small"><em><%= l(note.created_at, format: :long) %></em>
                              </span>
                            </h4>
                          </div>

                          <div id="note_<%= note.id %>" class="panel-collapse collapse_" >
                            <div class="panel-body">
                              <pre style="border:none; background:none; padding:0"><%= note.description %></pre>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <% unless dispatch.closed? %>
            <div class="panel-footer buttons">
              <div class="row">
                <%= link_to new_note_path(dispatch_id: dispatch.id), class: 'btn btn-primary left' do %>
                  <i class="fa fa-paperclip"></i>&nbsp;
                  <%= t('general.actions.add', entity: t('general.models.report')).capitalize %>
                <% end %>

                <% if can? :close, dispatch %>
                  <%= link_to new_final_notes_path(dispatch_id: dispatch.id), class: 'btn btn-danger right' do %>
                    <i class="fa fa-lock"></i>&nbsp;
                    <%= t('general.actions.close', entity: t('general.models.dispatch')).capitalize %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div> <!-- panel -->
      </div> <!-- col-12 -->
    <% end %>
  </div><!-- panel-body -->

  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-4 text-left pull-left">
        <%= link_to complaints_path, class: "btn btn-default"  do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          <%= t('general.links.back').capitalize %>
        <% end %>
        <% if can? :dispatch, @complaint %>
          <%= link_to new_dispatch_path(complaint_id: @complaint.id), class: 'btn btn-default' do %>
            <span class="glyphicon glyphicon-road"></span>
            <%= t('general.links.dispatch').capitalize %>
          <% end %>
        <% end %>

        <% if can? :edit, @complaint %>
          <%= link_to edit_complaint_path(@complaint), class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-pencil"></span>
            <%= t('general.links.edit').capitalize %>
          <% end %>
        <% end %>
      </div>

      <% unless @complaint.has_dispatches? || @complaint.is_fake %>
        <div class="col-lg-5 text-right pull-right">
          <%= link_to mark_as_fake_complaint_path(@complaint), class: 'btn btn-warning' do %>
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <%= t('general.links.complaint_mark_as_fake').capitalize %>
          <% end %>
          <%= link_to @complaint, method: :delete, class: 'btn btn-danger',
              data: { confirm: t('general.are_you_sure') } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= t('general.links.mark_as_user_error').capitalize %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
