<div class="form-group">
  <%= label_tag :fireman_select, t('general.models.fireman').capitalize   %>
  <%= select_tag :fireman_select, options_from_collection_for_select(@firemen_for_select, :id, :compound_name), {prompt: t('general.actions.search', entity: t('general.models.fireman')).capitalize, class: 'form-control combobox', id: 'fireman_select', :"data-list" => '#fireman_list', :"data-link" => add_firemen_transferences_path} %>
</div>
<% firemen = @firemen_on_list || [] %>
<% unless firemen.empty? %>
  <div  class="table-responsive">
    <div class="dataTables_wrapper form-inline" role="grid">
      <table class="table table-hover dataTable no-footer">
        <thead>
          <tr>
            <th><%= t('general.attributes.code').capitalize %></th>
            <th><%= t('general.attributes.full_name').capitalize %></th>
            <th><%= t('general.models.division').capitalize %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="fireman_list">
          <% firemen.each do |fireman| %>
            <tr>
              <td>
                <%= truncate fireman.code, length: 10 %>
                <%= hidden_field_tag('transference[transference_histories_attributes][][transferable_id]', fireman.id, id: "fireman_transference_histories_fireman_id_#{fireman.id}") %>
                <%= hidden_field_tag('transference[transference_histories_attributes][][transferable_type]', 'Fireman', id: "fireman_transference_histories_fireman_type_#{fireman.id}") %>
              </td>
              <td><%= truncate fireman.full_name, length: 30 %></td>
              <td><%= truncate fireman.division_name, length: 30 %></td>
              <td class="action">
                <a href="#fireman_list" data-no-turbolink="true" data-id="<%= fireman.id %>" data-link="<%= remove_fireman_transferences_path %>" data-transference-remove="fireman" data-list="#fireman_list">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
