<div class="row">
  <div class="col-lg-12">
    <%= form_for(@transference, html: { role: 'form' }, validate: true) do |f| %>
      <% if @transference.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transference.errors.count, "error") %>
            prohibited this transference from being saved:</h2>
          <ul>
            <% @transference.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :reason, t('general.attributes.reason').capitalize   %><br>
        <%= f.text_area :reason, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :available, t('general.attributes.available').capitalize.pluralize(I18n.locale) %>
        <%= f.check_box :available %>
      </div>
      <div class="form-group">
        <%= f.label :place_id, t('general.attributes.destination').capitalize   %><br>
        <%= f.collection_select(:place_id, @places, :id, :name, {prompt: t('general.actions.search', entity: t('general.models.place')).capitalize}, class: 'form-control combobox', id: 'place_select', :"data-link" => set_place_transferences_path, :"data-id" => 'place' ) %>
      </div>
      <div id='place'>
        <%= render partial: 'place', locals: { place: @transference.place } %>
      </div>
      <div id="fireman_transference_histories">
        <%= render partial: 'fireman_transference_histories' %>
      </div>
      <div id="vehicle_transference_histories">
        <%= render partial: 'vehicle_transference_histories' %>
      </div>
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
