<% if @transferences.empty? %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
    <%= t('general.registers_not_found') %>
  </div>
<% else %>
  <%= results_quantity @transferences.count %>
  <div  class="table-responsive">
    <div class="dataTables_wrapper form-inline" role="grid">
      <table class="table table-hover dataTable no-footer">
        <thead>
          <tr>
            <th>
              <%= t('general.attributes.number').capitalize %>
            </th>
            <th>
              <%= t('general.attributes.reason').capitalize %>
            </th>
            <th>
              <%= t('general.attributes.destination').capitalize %>
            </th>
            <th>
              <%= t('general.attributes.available').capitalize %>
            </th>
            <th>
              <%= t('general.attributes.created_at').capitalize %>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @transferences.each do |transference| %>
            <tr>
              <td>
                <%= truncate transference.id.to_s, length: 10 %>
              </td>
              <td>
                <%=  truncate transference.reason, length: 50  %>
              </td>
              <td>
                <%= truncate transference.place.name, length: 40 %>
              </td>
              <td><%= t("general.#{(!!transference.available).to_s}_significant") %></td>
              <td>
                <%= truncate l(transference.created_at, format: :long), length: 40 %>
              </td>
              <td class="action">
                <%= link_to transference do %>
                  <span class="glyphicon glyphicon-info-sign"></span>
                  <%= t('general.links.show').capitalize %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>