<% unless place.nil? %>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>:</b></div>
      <div class="col-lg-9"><%= place.address.name %>
      </div>
      <% unless place.address.references.nil? or place.address.references.empty? %>
        <div class="col-lg-3"><b><%= t('general.attributes.references').capitalize %>:</b></div>
        <div class="col-lg-9">
          <%= place.address.references %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= gmap_show(place.address.latitude, place.address.longitude) %>
      </div>
    </div>
  </div>
<% end %>
