<div class="form-group">
  <%= label_tag :vehicle_select, t('general.models.vehicle').capitalize   %>
  <%= select_tag :vehicle_select, options_from_collection_for_select(@vehicles_for_select, :id, :compound_name), {prompt: t('general.actions.search', entity: t('general.models.vehicle')).capitalize, class: 'form-control combobox', id: 'vehicle_select', :"data-list" => '#vehicle_list', :"data-link" => add_vehicles_transferences_path} %>
</div>
<% vehicles = @vehicles_on_list || [] %>
<% unless vehicles.empty? %>
  <div  class="table-responsive">
    <div class="dataTables_wrapper form-inline" role="grid">
      <table class="table table-hover dataTable no-footer">
        <thead>
          <tr>
            <th><%= t('general.attributes.code').capitalize %></th>
            <th><%= t('general.models.division').capitalize %></th>
            <th></th>
          </tr>
        </thead>
        <tbody id="vehicle_list">
          <% vehicles.each do |vehicle| %>
            <tr>
              <td>
                <%= truncate vehicle.code, length: 10 %>
                <%= hidden_field_tag('transference[transference_histories_attributes][][transferable_id]', vehicle.id, id: "vehicle_transference_histories_vehicle_id_#{vehicle.id}") %>
                <%= hidden_field_tag('transference[transference_histories_attributes][][transferable_type]', 'Vehicle', id: "vehicle_transference_histories_vehicle_type_#{vehicle.id}") %>
              </td>
              <td>
                <%= truncate vehicle.division_name, length: 30 %>
              </td>
              <td class="action">
                <a href="#vehicle_list" data-no-turbolink="true" data-id="<%= vehicle.id %>" data-link="<%= remove_vehicle_transferences_path %>" data-transference-remove="vehicle" data-list="#vehicle_list">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
