<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.transference').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :place_name, :reason, :id) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
   <%= render partial: 'index' %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <%= will_paginate @transferences %>
      </div>
      <% if can? :create, Transference %>
        <div class="col-lg-3 text-right">
          <%= link_to new_transference_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.transference')).capitalize %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>