<%= render layout: 'reports/table', locals: { list: @transferences, 
      header_attributes: [
              t('general.attributes.number').capitalize,
              t('general.attributes.reason').capitalize,
              t('general.attributes.destination').capitalize,
              t('general.attributes.created_at').capitalize ],
      listing_text: "#{t('general.report_of', entity: t('general.models.transference').pluralize(I18n.locale)).capitalize} - #{l(Time.now, format: :long)}"   }  do |transference| %>
    <tr>
      <td>
        <%= truncate transference.id.to_s, length: 10 %>
      </td>
      <td>
        <%=  truncate transference.reason, length: 50  %>
      </td>
      <td>
        <%= truncate transference.place.name, length: 40 %>
      </td>
      <td>
        <%= truncate l(transference.created_at, format: :long), length: 40 %>
      </td>
    </tr>
<% end %>