  <div class="col-lg-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{t('general.models.transference').pluralize(I18n.locale).capitalize}" %>
      </div>
      <div class="panel-body" >
        <br/>
        <div class="row">
          <%= form_tag(search_transferences_path, { method: :get, role: 'form', class: "" }) do |transference_groups_form| %>
            
            <%= criteria_select 'fireman' %>
            <%= criteria_select 'vehicle' %>

            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[created_at]', t('general.attributes.created_at').capitalize %>
                <%= text_field_tag('criteria[created_at]', (params[:criteria] || {})[:created_at], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control', id: 'criteria_created_at' }) %>
              </div>
            </div>

            <%= criteria_select 'place', {translated_text: 'attributes.transferences.origin', name: 'origin'} %>
            <%= criteria_select 'place', {translated_text: 'attributes.transferences.destination', name: 'destination'} %>
            
            <div class="col-lg-12">
              <div class="form-group">
                <%= submit_tag t('general.actions.search', entity: t('general.models.transference')).capitalize, class: 'btn btn-primary' %>
                <%= link_to t('general.links.show_all').capitalize, search_transferences_path, class: 'btn btn-default', style: 'right: 35px; position: absolute' %>
              </div>
            </div>
          <% end %>
        </div>
        <br/>
        <%= render partial: 'index' %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12">
            <%= will_paginate @transferences %>
          </div>
        </div>
      </div>
    </div>
  </div>
