<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.transference').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.reason').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @transference.reason %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.available').capitalize %>:</b></div>
      <div class="col-lg-9"><%= t("general.#{(!!@transference.available).to_s}_significant") %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.destination').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @transference.place.name %></div>
    </div>
    <% if @transference.vehicles.size > 0 %>
      <div>
        <br/>
        <b><%= t('general.models.vehicle').pluralize(I18n.locale).capitalize %></b>
      </div>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.code').capitalize %></th>
                <th><%= t('general.models.division').capitalize %></th>
              </tr>
            </thead>
            <tbody id="vehicle_list">
              <% @transference.vehicles.each do |vehicle| %>
                <tr>
                  <td>
                    <%= truncate vehicle.code, length: 10 %>
                  </td>
                  <td>
                    <%= truncate vehicle.division_name, length: 30 %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
    <% if @transference.firemen.size > 0 %>
      <div>
        <br/>
        <b><%= t('general.models.fireman').pluralize(I18n.locale).capitalize %></b>
      </div>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.code').capitalize %></th>
                <th><%= t('general.attributes.full_name').capitalize %></th>
                <th><%= t('general.models.division').capitalize %></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="fireman_list">
              <% @transference.firemen.each do |fireman| %>
                <tr>
                  <td>
                    <%= truncate fireman.code, length: 10 %>
                  </td>
                  <td><%= truncate fireman.full_name, length: 30 %></td>
                  <td><%= truncate fireman.division_name, length: 30 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to :back, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can?(:undone, @transference) && @transference.can_be_undone? %><th>
        <td class="action">
          <%= link_to @transference, method: :delete, class: 'btn btn-danger', 
  data: { confirm: t('general.are_you_sure') } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= t('general.links.mark_as_user_error').capitalize %>
          <% end %>
        </td>
      <% end %>
    </div>
  </div>
