<div>
  <label for="change_division_or_fire_department"><%= t('general.change_division_or_fire_department') %></label>
  <input data-toggle-check="#change_division_or_fire_department" name="change_division_or_fire_department" type="checkbox" />
</div>

<div id="change_division_or_fire_department" style="display:none">
  <%= render partial: 'users/change_fireman_select', locals: { fireman_select_id: fireman_select_id } %>
</div>