<div class="col-sm-12">
  
  <%= render partial: 'change_fireman_select_by_user', locals: { fireman_select_id: 'add_single_firemen_to_guards' } %>

  <div class="form-group">
    <%= label_tag 'firemen', t('general.actions.search', entity: t('general.models.fireman')).capitalize %>
    <%= select_tag 'firemen', content_tag(:option, 
                              t('general.actions.search', entity: t('general.models.fireman')).capitalize, 
                              :value=>"")+
                              options_from_collection_for_select(@firemen, 'id', 'compound_name', nil),
        { class: 'form-control combobox', :"data-link" => guards_add_editing_path, id: 'add_single_firemen_to_guards' } %>
  </div>
</div>
