<% show_buttons = @active_firemen.length > 0 %>
<div class="panel-footer <%= show_buttons ? 'buttons' : '' %>">
  <% if show_buttons %>
    <% e = t('general.models.guard').pluralize(I18n.locale) %>
    <div class="row">
        <%= submit_tag t('general.actions.update', entity: e).capitalize, class: 'btn btn-primary left', name: 'update_all' %>
        <%= submit_tag t('general.actions.open', entity: e).capitalize, class: 'btn btn-default center', name: 'open_all' %>
        <%= submit_tag t('general.actions.close', entity: e).capitalize, class: 'btn btn-danger right', name: 'close_all' %>
    </div>
  <% end %>
</div>