<div  class="table-responsive">
  <div class="dataTables_wrapper form-inline" role="grid">
    <table class="table table-hover dataTable no-footer">
      <thead>
        <tr>
          <th>
            <%= t('general.attributes.code').capitalize %>
          </th>
          <th>
            <%= t('general.attributes.full_name').capitalize %>
          </th>
          <th class="action">
            <%= t('general.links.delete').capitalize %>
          </th>
          <th class="action">
            <%= t('general.models.guard').capitalize %>
          </th>
        </tr>
      </thead>
      <tbody id="#guard_list" >
        <% @active_firemen.each do |fireman| %>
          <tr>
            <td>
              <%= link_to fireman.code, fireman_path(fireman) %>
            </td>
            <td>
              <%= fireman.full_name %>
            </td>
            <td class="action">
              <%= link_to guards_destroy_path(fireman.id), method: :delete, :"data-confirm" => t('general.are_you_sure'), :"data-no-turbolink" => true, remote: true do %>
                <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
            <td class="action" style='width: 150px'>
              <%= select_tag "guards[#{fireman.id}]", options_for_select(guard_options(fireman), guard_selected(fireman)), {class: 'form-control', id: 'guard_status_select'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
