<%= form_tag(guards_update_path, { role: 'form', class: "" }) do |guard_groups_form| %>
  <div class="col-lg-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{t('general.models.guard').pluralize(I18n.locale).capitalize}" %>
      </div>
      <div class="panel-body" >
        <% unless @guard_groups.empty? %>
          <div class="row">
            <div class="form-group">
              <%= label_tag 'add_guard_group', (t('general.actions.asign', {entity: t('general.models.guard_group')})).capitalize, {class: 'control-label col-sm-4'} %>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-10">
                    <%= select_tag 'add_guard_group', 
                        options_from_collection_for_select(@guard_groups, 'id', 'name', nil) , {class: 'form-control combobox', id: 'guard_group_select'} %>
                  </div>
                  <div class="col-xs-1">
                    <a href="#" data-link='<%= guards_add_guard_group_path %>' id="add_guard_group" data-no-turbolink="true" class="btn btn-primary"><%= t('general.links.asign').capitalize %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <br/>
        <div class="row" id="fireman_select">
          <%= render partial: 'fireman_select' %>
        </div>
        <div class="big_table" id="index">
          <%= render(partial: 'index') unless @active_firemen.empty? %>
        </div>
      </div>
      <span id="footer">
        <%= render partial: 'footer' %>
      </span>
    </div>
  </div>
<% end %>
