<%= render layout: 'reports/table', locals: { list: @guards, 
      header_attributes: [
              t('general.attributes.code').capitalize,
              t('general.attributes.full_name').capitalize,
              t('general.attributes.started_at').capitalize,
              t('general.attributes.closed_at').capitalize ],
      listing_text: "#{t('general.report_of', entity: t('general.models.guard').pluralize(I18n.locale)).capitalize} - #{l(Time.now, format: :long)}"   }  do |guard| %>
    <tr>
      <td>
        <%= truncate guard.fireman.code.to_s, length: 10 %>
      </td>
      <td>
        <%=  truncate guard.fireman.full_name, length: 50  %>
      </td>
      <td>
        <%= l(guard.started_at, format: :long) unless guard.started_at.nil? %>
      </td>
      <td>
        <%= l(guard.closed_at, format: :long) unless guard.closed_at.nil? %>
      </td>
    </tr>
<% end %>