  <div class="col-lg-11">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= "#{t('general.models.guard').pluralize(I18n.locale).capitalize}" %>
      </div>
      <div class="panel-body" >
        <div class="row">
          <%= form_tag(guards_search_path, { method: :get, role: 'form', class: "" }) do |guard_groups_form| %>
            <div class="col-lg-12">
              <%= render partial: 'change_fireman_select_by_user', locals: { fireman_select_id: 'user_fireman' } %>
              <div class="form-group">
                <%= label_tag 'criteria[fireman_id]', t('general.actions.search', entity: t('general.models.fireman')).capitalize %>
                <%= select_tag 'criteria[fireman_id]', options_for_fireman_search_select(params), { class: 'form-control combobox' } %>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[started_at]', t('general.attributes.started_at').capitalize %>
                <%= text_field_tag('criteria[started_at]', (params[:criteria] || {})[:started_at], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control' }) %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= label_tag 'criteria[closed_at]', t('general.attributes.closed_at').capitalize %>
                <%= text_field_tag('criteria[closed_at]', (params[:criteria] || {})[:closed_at], { :"data-date-format" => 'dd-mm-yyyy', class: 'form-control' }) %>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <%= submit_tag t('general.actions.search', entity: t('general.models.guard')).capitalize, class: 'btn btn-primary' %>
                <%= link_to t('general.links.show_all').capitalize, guards_search_path, class: 'btn btn-default', style: 'right: 35px; position: absolute' %>
              </div>
            </div>
          <% end %>
        </div>
        <div>
          <% if @guards.empty? %>
            <div class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
              <%= t('general.registers_not_found') %>
            </div>
          <% else %>

            <%= results_quantity @guards.count %>

            <div  class="table-responsive">
              <div class="dataTables_wrapper form-inline" role="grid">
                <table class="table table-hover dataTable no-footer">
                  <thead>
                    <tr>
                      <th>
                        <%= t('general.attributes.code').capitalize %>
                      </th>
                      <th>
                        <%= t('general.attributes.full_name').capitalize %>
                      </th>
                      <th>
                        <%= t('general.attributes.started_at').capitalize %>
                      </th>
                      <th>
                        <%= t('general.attributes.closed_at').capitalize %>
                      </th>
                    </tr>
                  </thead>
                  <tbody id="#guard_list" >
                    <% @guards.each do |guard| %>
                      <tr>
                        <td>
                          <%= link_to guard.fireman.code, fireman_path(guard.fireman) %>
                        </td>
                        <td>
                          <%= guard.fireman.full_name %>
                        </td>
                        <td>
                          <%= l(guard.started_at, format: :long) unless guard.started_at.nil? %>
                        </td>
                        <td>
                          <%= l(guard.closed_at, format: :long) unless guard.closed_at.nil? %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12">
            <%= will_paginate @guards %>
          </div>
        </div>
      </div>
    </div>
  </div>
