$('#index').html("<%= escape_javascript(raw render(partial: 'index'))%>");  
$('#footer').html("<%= escape_javascript(raw render(partial: 'footer'))%>");  
$('#fireman_select').html("<%= escape_javascript(raw render(partial: 'fireman_select'))%>").find('select.combobox').combobox();
