<div class="row">
  <div class="col-lg-7">
    <div class="form-group">
      <%= label_tag :fire_department, t('general.models.fire_department').capitalize   %><br>
      <%= select_tag :fire_department, options_from_collection_for_select(@fire_departments, 'id', 'name', @selected_fire_department.id), class: 'form-control'  %>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="form-group">
      <%= label_tag :division, t('general.models.division').capitalize   %><br>
      <%= select_tag :division, options_from_collection_for_select(@divisions, 'id', 'name', @selected_division.id), class: 'form-control', :"data-fireman-select" => "##{fireman_select_id}"  %>
    </div>
  </div>
</div>