<div class="row">
  <div class="col-lg-12">
    <%= form_for(@user, html: { role: 'form' }, validate: true) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div id="non_fireman_data" style="<%= 'display:none' unless @user.has_username? %>">
        <div class="form-group">
          <%= f.label :username, t('general.attributes.username').capitalize   %><br>
          <%= f.text_field :username, class: 'form-control'  %>
        </div>
      </div>
      <div>
        <label for="has_fireman"><%= t('general.user_of_fireman').capitalize_first_char %></label>
        <input id="user_of_fireman" name="has_fireman" type="checkbox" <%= 'checked="true"' unless @user.has_username? %> />
      </div>

      <div id="fireman_data"  style="<%= 'display:none' if @user.has_username? %>">
        <div>
          <label for="change_division_or_fire_department"><%= t('general.change_division_or_fire_department') %></label>
          <input data-toggle-check="#change_division_or_fire_department" name="change_division_or_fire_department" type="checkbox" />
        </div>

        <div id="change_division_or_fire_department" style="display:none">
          
          <%= render partial: 'change_fireman_select', locals: { fireman_select_id: 'user_fireman_id' } %>
        </div>
        <div class="form-group">
          <%= f.label :fireman_id, t('general.models.fireman').capitalize   %><br>
          <%= f.select :fireman_id, @firemen.map{|fm|  ["#{fm.code} - #{fm.name} #{fm.last_name}", fm.id] }, 
              fireman_select_options(@user, @selected_fireman_id, params[:action]), class: 'form-control combobox', id: 'user_fireman_id'   %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, t('general.attributes.password').capitalize   %><br>
        <%= f.password_field :password, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, t('general.attributes.password_confirmation').capitalize   %><br>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
      </div>
      <% if can? :edit_user_type, @user %>
        <div class="form-group">
          <%= f.label :type, t('general.attributes.type').capitalize %><br>
          <%= f.select :type, User.role.options, {}, class: 'form-control' %>
        </div>
      <% end %>
   

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
