<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.user').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :username, :type, :fireman_code) %>
      </div>
    </div>    
  </div>
  <div class="panel-body">
    <% if @users.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.login').capitalize %></th>
                <th><%= t('general.attributes.type').capitalize %></th>
                <% if can? :edit, User %><th></th><% end %>
                <% if can? :delete, User %><th></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td>
                    <%= user.login %>
                  </td>
                  <td>
                    <%= user.type %>
                  </td>
                  <td class="action">
                    <% if can? :edit, user %>
                      <%= link_to edit_user_path(user) do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                  <td class="action">
                    <% if can? :delete, user %>
                      <%= link_to user_path(user), method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
        <div class="row">
          <div class="col-lg-9">
            <%= will_paginate @users %>
          </div>
          <div class="col-lg-3 text-right">
            <% if can? :create, User %><th>
              <%= link_to new_user_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%= t('general.actions.create', entity: t('general.models.user')).capitalize %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
