<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('general.actions.create', entity: t('general.models.user')).capitalize %>
    </div>
    <div class="panel-body">

      <% actions = -> (f) do %>
        <%= link_to :back, class: "btn btn-default" do %>
          <span class="glyphicon glyphicon-list-alt"></span>
          <%= t('general.links.back').capitalize %>
        <% end %>

        <%= f.submit t('general.actions.save', entity: t('general.models.user')).capitalize,
          class: "btn btn-primary" %>
      <% end %>

      <%= render partial: 'form', locals: { actions: actions } %>
    </div>
  </div>
</div>
