<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.user').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.login').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @user.login %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.type').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @user.type %></div>
    </div>

    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.last_sign_in_at').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @user.last_sign_in_at.nil? ? '-' : l(@user.last_sign_in_at, format: :long) %></div>
    </div>

    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.current_sign_in_at').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @user.current_sign_in_at.nil? ? '-' : l(@user.current_sign_in_at, format: :long) %></div>
    </div>

    <% unless @user.fireman_id.nil? %>
      <div class="row">
        <div class="col-lg-3"><b><%= t('general.models.fireman').capitalize %>:</b></div>
        <div class="col-lg-9"><%= link_to "#{@user.fireman.name} #{@user.fireman.last_name} - #{@user.fireman.document}", @user.fireman  %></div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to users_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, User %><th>
        <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <%= t('general.links.edit').capitalize %>
        <% end %>
      <% end %>
    </div>
  </div>
