<div class="row">
  <div class="col-lg-12">
    <%= form_for(@division, html: { role: 'form' }, validate: true) do |f| %>
      <% if @division.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@division.errors.count, "error") %> prohibited this division from being saved:</h2>
          <ul>
            <% @division.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.fields_for :place do |pf| %>
        <div class="form-group">
          <%= pf.label :name, t('general.attributes.name').capitalize   %><br>
          <%= pf.text_field :name, class: 'form-control'  %>
        </div>

        <%= gmap_picker(pf, @division.place) %>
      <% end %>


      <div class="form-group">
        <%= f.label :code, t('general.attributes.code').capitalize   %><br>
        <%= f.text_field :code, class: 'form-control'  %>
      </div>

      <div class="form-group">
        <%= f.label :logo, t("general.attributes.logo").capitalize %>  
        
        <div class="logo">
          <%= @division.logo? ? image_tag(@division.logo.url(:thumb)) : t("general.no_image_yet") %>
        </div>

        <%= f.file_field :logo, title: t("general.upload_file").capitalize %> 
      </div>

      <div class="form-group">
        <%= f.label :fire_department_id, t('general.models.fire_department').capitalize %><br>
        <%= f.collection_select(:fire_department_id, @fire_department_list, :id, :name, {}, class: 'form-control') %>
      </div>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    </div>
  <% end %>
</div>
