<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.division').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :place_name, :address_name, :fire_department_name, :code) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @divisions.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th>
                  <%= t('general.attributes.code').capitalize %>
                </th>
                <th>
                  <%= t('general.attributes.name').capitalize %>
                </th>
                <th>
                  <%= t('general.attributes.address').capitalize %>
                </th>
                <th>
                  <%= t('general.models.fire_department').capitalize %>
                </th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @divisions.each do |division| %>
                <tr>
                  <td>
                    <%= division.code %>
                  </td>
                  <td>
                    <%= division.name %>
                  </td>
                  <td>
                    <%= division.address.name %>
                  </td>
                  <td>
                    <%= division.fire_department.name %>
                  </td>
                  <td style="text-align:center">
                    
                    <%= link_to division, data: { no_turbolink: true }  do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :edit, division %>
                      <%= link_to edit_division_path(division), data: { no_turbolink: true } do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :delete, division %>
                      <%= link_to division, method: :delete, 
                      data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <%= will_paginate @divisions %>
      </div>
      <div class="col-lg-3 text-right">
        <% if can? :create, Division %><th>
          <%= link_to new_division_path, class: 'btn btn-primary', data: { no_turbolink: true } do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.division')).capitalize %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
