<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.division').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-6"><%= @division.name %></div>
      <div class="col-lg-3"><%= image_show @division %></div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @division.name %></div>
    </div> -->
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.code').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @division.code %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.models.fire_department').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @division.fire_department.name %></div>
    </div>

    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @division.address.name %> </div>
      <% unless @division.address.references.nil? or @division.address.references.empty? %>
        <div class="col-lg-3"><b><%= t('general.attributes.references').capitalize %>:</b></div>
        <div class="col-lg-9"> <%= @division.address.references %> </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= gmap_show(@division.address.latitude, @division.address.longitude) %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to divisions_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, @division %>
      <%= link_to edit_division_path(@division), class: 'btn btn-primary', data: { no_turbolink: true } do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
