<div class="col-lg-6 vehicle-container" data-vehicle-id="<%= @vehicle.id %>">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-9"><span><%= @vehicle.code %></span></div>
        <div class="col-lg-3 text-right">
          <%= link_to '#', class: 'remove-vehicle' do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <%= fields_for :dispatch do |f| %>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group input-group">
              <input type="text" class="form-control firemen-search" placeholder="<%= t('general.actions.search', entity: t('general.models.fireman')).capitalize %>. <%= t('general.dispatches.see_options_instructions') %>" autocomplete="off"/>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-hover table-no-head">
                <thead>
                  <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th class="text-center">Chofer</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Here will be inserted the fireman -->
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-lg-12 help-container">
            <div class="alert alert-info alert-help text-center">Aún no se han designado bomberos para este vehículo.</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>