<tr class="fireman-container" data-fireman-id="<%= @fireman.id %>">
  <td><%= @fireman.code %></td>
  <td><%= @fireman.full_name %></td>
  <td class="text-center">
    <input name="dispatch[vehicles][<%= @vehicle.id %>][driver]" type="radio" value="<%= @fireman.id %>">
  </td>
  <td class="text-right">
  	<%= link_to '#', class: "remove-fireman" do %>
  		<i class="glyphicon glyphicon-trash"></i>
    <% end %>
  </td>
  <input name="dispatch[vehicles][<%= @vehicle.id %>][fireman_ids][]" type="hidden" value="<%= @fireman.id %>">
</tr>
