<% per_page = 3 if local_assigns[:per_page].nil?  %>
<% hide_first_header = false if local_assigns[:hide_first_header].nil? %>
<% per_page = @per_page || per_page %>
<div class="col-lg-12">

<% heading_date = l(dispatch.created_at, format: :long) if local_assigns[:heading_date].nil? %>
<div class="panel panel-default" style="border:none; padding:0">
  <div class="panel-heading" style="padding:0">
    <%#= t('general.dispatch_number', { number: dispatch.id }) %>
    <div class="row" style="padding:0; margin:0">
      <% if  hide_first_header  %>
          <%= listing_text %>
      <% else %>
        <%= render partial: 'reports/header', locals: { listing_text: listing_text } %>
      <% end %>
      <span class="pull-right text-muted small"><em><%= heading_date %></em></span>
    </div>
  </div>
  <div class="panel-body">    

    <div class="row">
      <% dispatch.dispatches_vehicles.each do |dvehicle| %>
        <div class="col-lg-6">

          <div class="well well-sm white" >
             <h4>
              <%= "#{t('general.models.vehicle').capitalize} #{dvehicle.vehicle.code}" %>
              </h4>

              <div class="row">
                <div class="col-lg-12">

                  <div class="table-responsive" style="border:none">
                    <table class="table table-hover table-no-head">
                      <thead>
                        <tr>
                          <th><%= t('general.attributes.code').capitalize %></th>
                          <th><%= t('general.attributes.name').capitalize %></th>
                          <th class="text-center"><%= t('general.models.driver').capitalize %></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= dvehicle.driver.code %></td>
                          <td><%= dvehicle.driver.full_name %></td>
                          <td class="text-center"><i class="fa fa-car"></i></td>
                        </tr>
                        <% dvehicle.firemen.each do |fireman| %>
                          <tr>
                            <td><%= fireman.code %></td>
                            <td><%= fireman.full_name %></td>
                            <td></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div> <!-- row -->
            </div> <!-- well -->
          </div><!-- col-6 -->
        <% end %>
      </div><!-- row -->
      <% unless dispatch.notes.empty? %>
        <div class="panel panel-default" style="border:none; padding:0">
                <div class="panel-heading" style="border:none; background:none">
                  <h4 class="panel-title">
                      <%= t('general.models.note').pluralize(I18n.locale).capitalize %>
                  </h4>
                </div>
                <!-- .panel-heading -->
                <div  >
                  <div class="panel-body">
                      <div class="panel-group" id="accordion">
                        <% dispatch.notes.each_with_index do |note, index| %>
                            <% if false %>
                            <% # the code bellow will never be reached %>
                              <% if index%per_page == 0 && index != 0 %>
                                <!-- <p  style="page-break-after: always; " ></p> -->
                                <div class="row" style="padding:0; margin:0">
                                  <%= render partial: 'reports/header', locals: { listing_text: t('general.dispatch_number', { number: dispatch.id }) } %>
                                  <span class="pull-right text-muted small"><em><%= heading_date %></em></span>
                                </div>
                                <hr style="margin-top:0" />
                              <% end %>
                              
                            <% end %>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <%= "#{t('general.models.final_note').capitalize}: " if note.is_a?(FinalNote) %>
                                        <%= note.title %>
                                        <span class="pull-right text-muted small"><em><%= l(note.created_at, format: :long) %></em></span>
                                    </h4>
                                </div>
                                <div >
                                    <div class="panel-body">
                                      <div style="border:none; background:none; padding:0; word-wrap: break-word;"><%= note.description %></div>
                                    </div>
                                </div>
                            </div>
                          <% end %>
                      </div>
                  </div>
                 <!-- .panel-body -->
               </div>
            </div> 
          <% end %>


    </div><!-- panel-body -->
  </div> <!-- panel -->
</div> <!-- col-12 -->