(function() {
	var vehicleContainer = $('[data-vehicle-id="<%= @vehicle.id %>"]');

	vehicleContainer.find('.help-container .alert').hide();
	vehicleContainer.find('tbody').append("<%= escape_javascript render('add_fireman', format: :html) %>");

	vehicleContainer.find('.firemen-search').val('');
  if (vehicleContainer.find('input:checked[name*="[driver]"]').size() < 1) {
    vehicleContainer.find('input[name*="[driver]"]').first().prop("checked", true);
  }

})();