(function() {
  var vehiclesContainer = $('#vehicles-container');

  vehiclesContainer.find(' > .help-container .alert').hide();
  $("<%= escape_javascript render 'add_vehicle', format: :json %>").hide().prependTo(vehiclesContainer).slideDown({
    complete: function() {
      $(this).find('input.firemen-search').focus();
    }
  });

  $('#dispatch-container').find('.vehicles-search').val('');

  vehiclesContainer.trigger("vehicle-form:create", { vehicle: <%= @vehicle.id %> } );
})();
