<style type="text/css">
  .typeahead.dropdown-menu {
    max-height: 250px!important;
    overflow-y: auto!important;
  }
</style>
<div class="row" id="dispatch-container">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Despachar Móviles y Personal</div>
        <%= form_for(@dispatch, html: { class: 'allow-double-submission' }) do |f| %>
          <%= f.hidden_field :complaint_id, value: @complaint.id %>
          <div class="panel-body">

<!-- 
            <div class="row">
              <div class="col-lg-12 form-group">
                <%#= f.label :incident_type_id, t('general.models.incident_type').capitalize %><br>
                <%#= f.collection_select(:incident_type_id, @incident_types, :id, :name, {}, class: 'form-control combobox') %>
              </div>
            </div> -->
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group input-group">
                  <input type="text" class="form-control vehicles-search" placeholder="<%= t('general.actions.search', entity: t('general.models.vehicle')).capitalize %>. <%= t('general.dispatches.see_options_instructions') %>" autocomplete="off"/>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <div id="vehicles-container" class="row">
              <div class="col-lg-12 help-container">
                <div class="alert alert-info alert-help text-center">
                  <%= t('general.dispatches.no_vehicle_yet') %>
                </div>
              </div>
              <!-- Here will be inserted the vehicle forms -->
            </div>
            <div class="row">
              <div class="col-lg-12 text-right">
                <%= f.submit "Despachar", class: 'btn btn-primary' %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
           <%= link_to(complaints_path, class: "btn btn-default") do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              <%= t('general.models.complaint').pluralize(I18n.locale).capitalize %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  (function() {
    var vehiclesContainer = $("#vehicles-container");

    var vehiclesTypeaheadSource = <%= raw @vehicles.as_json(only: :id, methods: :compound_name ).to_json %>;
    var firemenTypeaheadSource = <%= raw @firemen.as_json(only: :id, methods: :compound_name).to_json %>;

    var selectedVehicles = [];
    var selectedFiremen = [];

    $(".vehicles-search").focus();

    /* remove element from its source in order to avoid the element twice */
    function typeaheadStorageOnSelect(sourceSt, selectedSt, selectedObj) {
      $.each(sourceSt, function(idx, sourceObj) {
        if (undefined != sourceObj && selectedObj["value"] == sourceObj["id"]) {
          console.log("Selected object removed from source. ID: " + selectedObj["value"]);
          selectedSt.push(sourceSt.splice(idx, 1)[0]);
        }
      });
    }

    /* add the removed vehicle to the its source */
    function typeaheadStorageOnRemove(sourceSt, selectedSt, removedIdx) {
      $.each(selectedSt, function(idx, selectedObj) {
        if (undefined != selectedObj && removedIdx == selectedObj["id"]) {
          console.log("Removed object restored to source. ID: " + removedIdx);
          sourceSt.push(selectedSt.splice(idx, 1)[0]);
        }
      });
    }

    $(".vehicles-search").typeahead({
      minLength: 0,
      items: Infinity,
      source: vehiclesTypeaheadSource,
      displayField: "compound_name",
      onSelect: function(selectedObj) {
        $.ajax({
          url: "<%= add_vehicle_dispatches_path(vehicle_id: '__0__') %>".replace('__0__', selectedObj["value"])
        });

        typeaheadStorageOnSelect(vehiclesTypeaheadSource, selectedVehicles, selectedObj);
      }
    });

    vehiclesContainer.on("vehicle-form:create", function(e, params) {
      $("[data-vehicle-id=" + params["vehicle"] + "] .firemen-search").typeahead({
        minLength: 0,
        items: Infinity,
        source: firemenTypeaheadSource,
        displayField: "compound_name",
        onSelect: function(selectedObj) {
          $.ajax({
            url: "<%= add_fireman_dispatches_path(vehicle_id: '__vid__', fireman_id: '__fid__') %>".replace('__vid__', params["vehicle"]).replace('__fid__', selectedObj["value"])
          });

          typeaheadStorageOnSelect(firemenTypeaheadSource, selectedFiremen, selectedObj);
        }
      });
    });

    vehiclesContainer.on("click", ".remove-vehicle", function(e) {
      if(e) e.preventDefault();
      var container = $(this).closest(".vehicle-container");
      typeaheadStorageOnRemove(vehiclesTypeaheadSource, selectedVehicles, container.attr("data-vehicle-id"));
      container.find("table tbody .remove-fireman").click();
      container.slideUp({
        complete: function() {
          container.remove();

          if (vehiclesContainer.find(".vehicle-container").size() < 1)
            vehiclesContainer.find(".help-container .alert-help").show();
        }
      });


    });

    vehiclesContainer.on("click", ".remove-fireman", function(e) {
      if(e) e.preventDefault();
      var container = $(this).closest(".fireman-container");
      var vehicleContainer = container.closest(".vehicle-container");
      typeaheadStorageOnRemove(firemenTypeaheadSource, selectedFiremen, container.attr("data-fireman-id"));
      container.fadeOut({
        complete: function() {
          container.remove();

          if (vehicleContainer.find(".fireman-container").size() < 1)
            vehicleContainer.find(".help-container .alert-help").show();
        }
      });
    });

    /* prevent users from submitting form by hitting enter */
    $(document).on("keydown", function(e) { if(13 == e.keyCode) e.preventDefault() });

    /* form validation */
    $('form#new_dispatch').on("submit", function(e){
      $(".alert-vehicle-error, .alert-fireman-error, .alert-driver-error").remove();
      var valid = true;

      var vehicles = $(".vehicle-container");

      if (vehicles.size() < 1) {
        var helpContainer = $('#vehicles-container .help-container');
        helpContainer.append('<div class="alert alert-danger alert-vehicle-error text-center"><%= t("general.dispatches.need_at_least_one_vehicle") %></div>');

        valid = false;
      }

      vehicles.each(function(idx, vehicleContainer){
        var vehicleContainer = $(vehicleContainer);
        var helpContainer = vehicleContainer.find('.help-container');

        if (vehicleContainer.find('.fireman-container').size() < 1) {
          helpContainer.append('<div class="alert alert-danger alert-fireman-error text-center"><%= t("general.dispatches.need_at_least_one_fireman") %></div>');

          valid = false;
        }

        if (vehicleContainer.find('.fireman-container input:checked[name*="[driver]"]').size() < 1) {
          helpContainer.append('<div class="alert alert-danger alert-driver-error text-center"><%= t("general.dispatches.need_driver") %></div>');

          valid = false;
        }
      });

      if (!valid) {
        e.preventDefault();
      }
    });

  })();

</script>