<% per_page = 3 if local_assigns[:per_page].nil?  %>
<% per_page = @per_page || per_page %>
<%= render partial: 'report', locals: { listing_text: t('general.dispatch_number', { number: @dispatch.id }), dispatch: @dispatch, per_page: per_page } %>