<div style='width: 100%;'>
  <% map_id = "map_#{hash}" %>
  <div id="<%= map_id %>" style='width: 98%; margin:auto; margin-top:10px; margin-bottom: 15px; overflow:visible; height: 400px; overflow-x: visible; overflow-y: visible;'></div>
</div>
<script type="text/javascript">
  var ready = function(){
    <% handler = "handler_#{hash}" %>
    var <%= handler %> = Gmaps.build('Google');
      <%= handler %>.buildMap({ provider: { scrollwheel: false }, internal: {id: '<%= map_id %>'}}, function(){
      markers = <%= handler %>.addMarker({"lat": <%= latitude %>, "lng": <%= longitude %>});
      <%= handler %>.bounds.extendWith(markers);
      <%= handler %>.fitMapToBounds();
    });
    var firefox_fix;
    firefox_fix = setTimeout(function(){
      $("#<%= map_id %>").css("overflow","visible").css("overflow-x", "visible").css("overflow-y", "visible");
      clearTimeout(firefox_fix);
    },1000);
  }
  jQuery(document).ready(ready);
</script>
