<% hash_name = ((hash||{}).hash).abs.to_s %>
<div class="row">
  <div class="col-lg-12">
    <div id="id_<%= hash_name %>" style='height: 400px;'></div>
  </div>
</div>
<script type="text/javascript">
  <% ready_function = "read_#{hash_name}" %>
  var  <%= ready_function %> = function(){
    var hash = <%= hash %>;

    var opts = {
          zoom:      15,
          scrollwheel: false,
          center:    new google.maps.LatLng(53.385873, -1.471471),
          mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var mapDOM = $("#id_<%= hash_name %>")[0];
    var map = new google.maps.Map(mapDOM, opts);
    // var markers = []; 
    var locationList = [];
    _.each(hash, function(hash_marker){ 
        var location =new google.maps.LatLng(hash_marker.lat, hash_marker.lng) ;
        locationList.push(location);
        marker = new google.maps.Marker({
                  map: map,
                  title: hash_marker.explanation,
                  icon: {
                      path: fontawesome.markers[hash_marker.icon],
                      scale: 0.5,
                      strokeWeight: 0.2,
                      strokeColor: 'black',
                      strokeOpacity: 1,
                      fillColor: '#f8ae5f',
                      fillOpacity: 0.8,
                  },
                  clickable: true,
                  position: location
              });
        // markers.push(marker);  

         map.setCenter(location)
      });

        
    //  Create a new viewpoint bound
    var bounds = new google.maps.LatLngBounds ();
    //  Go through each...
    for (var i = 0, LtLgLen = locationList.length; i < LtLgLen; i++) {
      //  And increase the bounds to take this point
      bounds.extend (locationList[i]);
    }
    //  Fit these bounds to the map
    map.fitBounds (bounds);
  }
  <% if hash %>
    //jQuery(document).ready(<%= ready_function %>);
    //<%= ready_function %>();
    jQuery(document).on('page:change',<%= ready_function %>);
    //<%= ready_function+'();'%>
    <%= "#{ready_function}();" if defined?(execute_now) && execute_now %>
  <% end %>

</script>


