<script type="text/javascript">
  var <%= geocode_handler %> = new google.maps.Geocoder();
  
  var <%= index_controller_name %> = <%= index_controller_name %> || [];
  
  var <%= startup_fuction_name %>  = function(index, mapDOM){
      if(_.include(<%= index_controller_name %>, index)) return;
      <%= index_controller_name %>.push(index);
      window.mapDOM = mapDOM;
      $mapDOM = $(mapDOM);
      var $container = $mapDOM.closest('.<%= identifier_dom_class %>');
      var data_attribute = "<%= data_attribute %>"
  
      $mapDOM.attr(data_attribute, index);
      $container.attr(data_attribute, index);
      $container.parent().find("a.<%= show_hide_dom_class %>:first")
          .attr(data_attribute, index);
  
  
      $container.find(".<%= address[:dom_class] %>").attr(data_attribute, index);
      $container.find(".<%= latitude[:dom_class] %>").attr(data_attribute, index);
      $container.find(".<%= longitude[:dom_class] %>").attr(data_attribute, index);
  
  
      (function () {
          var marker = null;
  
          var $latitude_field = $('.<%= latitude[:dom_class] %>['+data_attribute+'="'+index+'"]');
          var $longitude_field = $('.<%= longitude[:dom_class] %>['+data_attribute+'="'+index+'"]');
  
          var longitude_field_value = parseFloat($longitude_field.val());
          var latitude_field_value = parseFloat($latitude_field.val());
  
          var hasCoordinates = !( _.isNaN(latitude_field_value)
          || _.isNaN(longitude_field_value) );
  
          var coordinate = hasCoordinates ?  new google.maps.LatLng(latitude_field_value, longitude_field_value) :
              new google.maps.LatLng(<%= default_coordinates[:latitude] %>, <%= default_coordinates[:longitude] %>);
  
          var opts = {
              zoom: <%= zoom_level %>,
              center: coordinate,
              scrollwheel: false,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
  
          var map = new google.maps.Map(mapDOM, opts);
  
          if( hasCoordinates ){
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(latitude_field_value, longitude_field_value),
                  map: map
              });
          }else{
  
          }
  
          function updateLocation(location, map) {
              if(marker) {
                  marker.setPosition(location);
              } else {
                  marker = new google.maps.Marker({
                      position: location,
                      map: map
                  });
              }
  
              map.setCenter(location);
              $latitude_field.val(location.lat());
              $longitude_field.val(location.lng());
  
              <%= geocode_handler %>.geocode({ address: location.lat()+', '+location.lng() }, function(r){
                  var addrs_field = $('.<%= address[:dom_class] %>['+data_attribute+'="'+index+'"]');
                  var new_val = r[0].formatted_address;
                  addrs_field.val(new_val);
                  addrs_field.attr("value", new_val);
                  addrs_field.change().focus().blur();
              });
          }
  
  
          google.maps.event.addListener(map, 'click', function(e) {
              updateLocation(e.latLng, map);
          });
  
          $(".<%= search_dom_class %>:eq("+index+")").on("click", function(){
                  var address = $(".<%= address[:dom_class] %>:eq("+index+")").val();
                  if($("input.default_city:eq("+index+")").is(":checked")){
                      address += ", <%= default_city %>, Paraguay"
                  }
                  <%= geocode_handler %>.geocode({ address:  address}, function(r){
                      if(_.isUndefined(r[0])) return alert("<%= t('general.gmap.address_not_found') %> "+
                          address.toUpperCase()+" <%= t('general.gmap.verify_address_spelling') %>");
                      updateLocation(r[0].geometry.location, map);
                  });
          });
  
      })();
  
  };
  
  // Remove void fields before form submit
  <% _html = f.options[:html] %>
  <% _id = _html.nil? ? f.instance_variable_get("@options")[:parent_builder].instance_variable_get("@options")[:html][:id] : _html[:id] %>
  $("#<%= _id %>").submit(function(){
      $(this).find(".<%= address[:dom_class] %>").each(function(){
          var $this = $(this);
          var arr = $this.attr("name").split("]");
          var name = arr.slice(0, arr.length-2).join("]")+"]"
          var to_destroy = $("[name='"+name+"[_destroy]']");
          var val = to_destroy.attr("value");
          if(_.isEmpty($this.val()) || val == "true" || val == "1" ){
            to_destroy.next("a.remove_nested_fields").click();
            console.log(to_destroy);
            console.log("before submit");
          }
      });
      return true;
  });



$(document).on("page:change", function(){
    $("form").find(".<%= address[:dom_class] %>").each(function(){
        var $this = $(this);
        var arr = $this.attr("name").split("]");
        var name = arr.slice(0, arr.length-2).join("]")+"]"
        var to_destroy = $("[name='"+name+"[_destroy]']");
        var val = to_destroy.attr("value");
        if( val == "true" || val == "1" ){
          to_destroy.next("a.remove_nested_fields").click();
          console.log(to_destroy);
          console.log("page change");
        }
    });

});
</script>
<script type="text/javascript">
  // Fields visibility toggle logic
  $(document).ready(function(){
      var data_attribute = "<%= data_attribute %>";
      $(document).on("click", "a.<%= show_hide_dom_class %>",function(){
          var $me = $(this);
          var index = $me.attr(data_attribute);
          var $current_map = $("div.<%= identifier_dom_class %>["+data_attribute+"="+index+"]");
          if(!$current_map.is(":visible") ){
              $me.css("text-align", "right");
              $me.html("<span class='glyphicon glyphicon-minus'></span>\n<%=  t('general.hide').capitalize %>");
              $current_map.slideDown();
          }else{
              var val = $current_map.find(".<%= address[:dom_class] %>").val();
              $current_map.slideUp(function(){
                  $me.html("<span class='glyphicon glyphicon-plus'></span>\n<%= t('general.actions.show', entity: t('general.models.address')).capitalize %>"+(val ? ": "+val : ""));
                  $me.css("text-align", "left");
              });
          }
      })
  });
</script>
<div style="<%= 'margin-bottom:28px' unless multiple %>">
  <%= f.fields_for (multiple ? :addresses : :address) do |af| %>
    <% if multiple %>
      <a  style='text-align:right; width:100%; display:block'
                   class="<%= show_hide_dom_class %>" href="javascript:void(0)">
        <span class="glyphicon glyphicon-minus"></span>
        <%= t('general.hide').capitalize %>
      </a>
    <% end %>

    <div class="<%= identifier_dom_class %>">
      <% if has_type %>
        <div class="form-group">
          <%= af.label address_type[:name].to_sym, t('general.models.address_type').capitalize %><br>
          <%= af.collection_select(address_type[:column].to_sym, address_types, :id, :name, {}, class: 'form-control') %>
        </div>
      <% end %>
      <div class="row" style="display:none; height:0px;">
        <div class="col-lg-6">
          <div class="form-group">
            <%= af.label latitude[:name].to_sym, t('general.attributes.latitude').capitalize %><br>
            <%= af.text_field latitude[:name].to_sym, 
                                disabled: true, class: latitude[:dom_class]+' form-control' %>
            <%= af.hidden_field latitude[:name].to_sym, class: latitude[:dom_class]+' form-control' %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <%= af.label longitude[:name].to_sym, t('general.attributes.longitude').capitalize %><br>
            <%= af.text_field longitude[:name].to_sym, 
                                disabled: true, class: longitude[:dom_class]+' form-control' %>
            <%= af.hidden_field longitude[:name].to_sym, class: longitude[:dom_class]+' form-control' %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <%= af.label address[:name].to_sym, t('general.models.address').capitalize %><br>
        <div class="form-group input-group" style="width:96%;">
          <%= af.text_field address[:name].to_sym,
                            class: address[:dom_class]+' form-control' %>
          <span class="input-group-btn" style="position: absolute;right: 0;top: 0;">
            <button type="button" value="search" class="<%= search_dom_class %> btn btn-default">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <div>
          <label><%= t('general.search_in', entity: default_city).capitalize_first_char %></label>
          <input class="default_city" type="checkbox" checked="true" />
        </div>
      </div>
      <div class="<%= map_container_dom_class %>" style="width:100%; height:250px; margin-bottom: 26px;">
      </div>

      <div class="form-group">
        <%= af.label references[:name].to_sym, t('general.attributes.references').capitalize %><br>
        <%= af.text_area references[:name].to_sym, class: references[:dom_class]+' form-control' %>
      </div>      
      <% if multiple %>
        <div class="row" style="text-align: right; margin-bottom: 16px;">
          <div class="col-lg-12">
                <%= af.link_to_remove t('general.actions.remove', entity: t('general.models.address')).capitalize, class: 'btn btn-danger btn-xs' %>
          </div>
        </div>
      <% end %>
    </div>
    <script type="text/javascript">
      $(".<%= map_container_dom_class %>").each(function(i, m){
          <%= startup_fuction_name %>(i, m);
      });
    </script>
  <% end %>
</div>
<% if multiple %>
  <div class="row" style="margin-bottom: 16px;margin-top: 5px;">
    <div class="col-lg-12">
      <%= f.link_to_add t('general.actions.add', entity: t('general.models.address')).titleize, :addresses, class: 'btn btn-primary btn-xs' %>
    </div>
  </div>
<% end %>
