<div class="row">
  <div class="col-lg-12">
    <%= form_for(@address_type, html: { role: 'form' }, validate: true) do |f| %>
      <% if @address_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address_type.errors.count, "error") %>
            prohibited this address_type from being saved:</h2>
          <ul>
            <% @address_type.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, t('general.attributes.name').capitalize   %><br>
        <%= f.text_field :name, class: 'form-control'  %>
      </div>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
