<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.address_type').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :name) %>
      </div>
    </div>    
  </div>
  <div class="panel-body">
    <% if @address_types.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th>
                  <%= t('general.attributes.name').capitalize %>
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @address_types.each do |address_type| %>
                <tr>
                  <td>
                    <%= address_type.name %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :edit, address_type %>
                      <%= link_to edit_address_type_path(address_type) do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :delete, address_type %>
                      <%= link_to address_type, method: :delete, 
                      data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <%= will_paginate @address_types %>
      </div>
      <div class="col-lg-3 text-right">
        <% if can? :create, AddressType %><th>
          <%= link_to new_address_type_path, class: 'btn btn-primary' do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.address_type')).capitalize %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>  
</div>
