<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.address_type').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @address_type.name %></div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to address_types_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, @address_type %>
      <%= link_to edit_address_type_path(@address_type), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
