<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.version').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :event, :item_type) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @versions.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th>
                  <%= t('general.element').capitalize %>
                </th>
                <th class="action"><%= t('general.change').pluralize(I18n.locale).capitalize %></th>
                <th class="centred">
                  <%= t('general.models.user').capitalize %>
                </th>
                <th class="centred">
                  <%= t('general.versions.event').capitalize %>
                </th>
                <th>
                  <%= t('general.attributes.created_at').capitalize %>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @versions.each do |vers| %>
                <tr>
                  <td>
                    <%= item_path(vers.item_id, vers.item_type) %>
                  </td>
                  <td class="action">
                    <%= link_to vers do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <td class="centred">
                    <%= version_user(vers.terminator) %>
                  </td>
                  <td class="centred">
                    <%= t("general.versions.events.#{vers.event}").capitalize_first_char %>
                  </td>
                  <td>
                    <%= l(vers.created_at, format: :long) %>
                  </td>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-12">
          <%= will_paginate @versions %>
        </div>
      </div>
    </div>
  </div>
