<h5><%= decorate_model_name(@model_name) %></h5>
<hr/>
<div class="row">
  <% last_instance = nil %>
  <% @versions.each do |version_instance| %>
    <% instance = version_instance[:instance] %>
    <% version = version_instance[:version] %>
    <div class=" col-lg-6">
      <div class="panel <%= event_class(version, @is_current_version) %>">
        <div class="panel-heading">
          <%= decorate_event(version, @is_current_version) %>
        </div>
        <div class="panel-body">
          <% instance.attributes.each do |k, v| %>
            <% if valid_attribute?(k)  %>
              <% (class_name = last_instance.send(k) != v ? 'modified' : '') unless last_instance.nil? %>
              <div class="row <%= class_name %>">
                <div class="col-lg-3"><b><%= translate_attribute(k).capitalize %>:</b></div>
                <div class="col-lg-9"><%= decorate_value(k, v, instance) %></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <% last_instance = instance %>
        <% @is_current_version = false %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-lg-6">
    <%= will_paginate @versions %>
  </div>
</div>
<%= link_to paper_trail_versions_path, class: "btn btn-default"  do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  <%= t('general.links.back').capitalize %>
<% end %>
