<div class="login-panel panel panel-default" >
  <div class="panel-heading">
    <h3 class="panel-title text-center"><%= t('application.authentication').capitalize %></h3>
  </div>
  <div class="panel-body">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :login, label: false, input_html: { class: 'form-control', placeholder:  t('devise.sessions.username_or_code_or_email') },
          wrapper_html: { class: 'form-group' }, required: false, autofocus: true %>
        <%= f.input :password, as: :password, label: false, input_html: { class: 'form-control', placeholder: t('devise.sessions.password') },
          wrapper_html: { class: 'form-group' } %>
        <%= f.input :remember_me, label: t('devise.sessions.remember_me').capitalize, :as => :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('devise.sessions.sign_in').capitalize, class: 'btn btn-lg btn-success btn-block' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
