<div class="row">
  <div class="col-lg-12">
    <%%= form_for(@<%= singular_table_name %>, html: { role: 'form' }, validate: true) do |f| %>
      <%% if @<%= singular_table_name %>.errors.any? %>
        <div id="error_explanation">
          <h2><%%= pluralize(@<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

          <ul>
          <%% @<%= singular_table_name %>.errors.full_messages.each do |msg| %>
            <li><%%= msg %></li>
          <%% end %>
          </ul>
        </div>
      <%% end %>

    <% attributes.each do |attribute| -%>
      <div class="form-group">
      <% if attribute.password_digest? -%>
        <%%= f.label :password %><br>
        <%%= f.password_field :password %>
      </div>
      <div>
        <%%= f.label :password_confirmation %><br>
        <%%= f.password_field :password_confirmation %>
      <% else -%>
        <%- if attribute.reference? -%>
          <%%= f.label :<%= attribute.column_name %>, t('general.models.<%= attribute.column_name %>').capitalize   %><br>
          <%%= f.<%= attribute.field_type %> :<%= attribute.column_name %>, class: 'form-control' %>
        <%- else -%>
          <%%= f.label :<%= attribute.name %>, t('general.attributes.<%= attribute.name %>').capitalize   %><br>
          <%%= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'  %>
        <%- end -%>
      <% end -%>
      </div>
    <% end -%>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%%= actions[f] %>
        </div>
      </div> 

    <%% end %>
  </div>
</div>