<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%%= t('general.editing', entity: t("general.models.<%= singular_table_name %>")).capitalize %>
    </div>
    <div class="panel-body">
      <%%= render partial: 'form', locals: { actions: actions(t('general.models.<%= singular_table_name %>')) } %>
    </div>
  </div>
</div>