<div class="panel panel-default">
  <div class="panel-heading"> 
  <%%= t('general.listing', entity: t('general.models.<%= singular_table_name %>').pluralize(I18n.locale)).capitalize %>
  </div>
  <div class="panel-body">
  <%% if @<%= plural_table_name %>.empty? %>
      <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%%= t('general.registers_not_found') %>
      </div>
  <%% else %>
    <div  class="table-responsive">
      <div class="dataTables_wrapper form-inline" role="grid">
        <table class="table table-hover dataTable no-footer">
          <thead>
            <tr>
            <% attributes.reject(&:password_digest?).each do |attribute| -%>
              <th>
                <%%= t('general.attributes.<%= attribute.name %>').capitalize %>
              </th>
            <% end -%>
            
              <th></th>
              <%% if can? :edit, <%= singular_table_name.camelize %> %><th></th><%% end %>
              <%% if can? :delete, <%= singular_table_name.camelize %> %><th></th><%% end %>
            </tr>
          </thead>

          <tbody>
            <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
              <% attributes.reject(&:password_digest?).each do |attribute| -%>
                <td>
                  <%%= <%= singular_table_name %>.<%= attribute.name %> %>
                </td>
              <% end -%>
                <td class="action">
                  <%%= link_to <%= singular_table_name %> do %>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <%%= t('general.links.show').capitalize %>
                  <%% end %>
                </td>
              <%% if can? :edit, <%= singular_table_name.camelize %> %><th>
                <td class="action">
                  <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <%%= t('general.links.edit').capitalize %>
                  <%% end %>
                </td>
              <%% end %>
              <%% if can? :delete, <%= singular_table_name.camelize %> %><th>
                <td class="action">
                  <%%= link_to <%= singular_table_name %>, method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    <%%= t('general.links.destroy').capitalize %>
                  <%% end %>
                </td>
              <%% end %>
              </tr>
            <%% end %>
          </tbody>
        </table>
      </div>
    </div>
  <%% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
    <div class="col-lg-9">
      <%%= will_paginate @<%= plural_table_name %> %>
    </div>
    <%% if can? :create, <%= singular_table_name.camelize %> %><th>
      <div class="col-lg-3 text-right">
        <%%= link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%%= t('general.actions.create', entity: t('general.models.<%= singular_table_name %>')).capitalize %>
        <%% end %>
      </div>
    <%% end %>
  </div>
</div>
