<div class="panel panel-default">

  <div class="panel-heading">
    <%%= t('general.models.<%= singular_table_name %>').titleize %>
  </div>

  <div class="panel-body">
    <% attributes.reject(&:password_digest?).each do |attribute| -%>
      <div class="row">
        <div class="col-lg-3"><b><%%= t('general.attributes.<%= attribute.name %>').capitalize %>:</b></div>
        <div class="col-lg-9"><%%= @<%= singular_table_name %>.<%= attribute.name %> %></div>
      </div>
    <% end -%>
  </div>
  <div class="panel-footer">

    <%%= link_to <%= index_helper %>_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%%= t('general.links.back').capitalize %>
    <%% end %>
    <%% if can? :edit, <%= singular_table_name.camelize %> %><th>
      <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%%= t('general.links.edit').capitalize %>
      <%% end %>
    <%% end %>
  </div>
</div>
