<div class="row">
  <div class="col-lg-12">
    <%= form_for(@incident_type, html: { role: 'form' }, validate: true) do |f| %>
      <% if @incident_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@incident_type.errors.count, "error") %> prohibited this incident_type from being saved:</h2>

          <ul>
          <% @incident_type.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
                  <%= f.label :name, t('general.attributes.name').capitalize   %><br>
            <%= f.text_field :name, class: 'form-control'  %>
              </div>
            </div>

            <div class="col-lg-6">

          <div class="form-group">
              <%= f.label :icon, t('general.attributes.icon').capitalize   %><br>
              <% icon = @incident_type.icon || "fa-fire-extinguisher" %>
              <button  class="btn btn-default iconpicker" data-icon="<%= icon %>" data-iconset="fontawesome" role="iconpicker" name="incident_type[icon]" data-placement="bottom" role="iconpicker"  data-rows="10" data-cols="10" ></button>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div> 

    <% end %>
  </div>
</div>