<div class="panel panel-default">
  <div class="panel-heading"> 
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.incident_type').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :name, :icon) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
  <% if @incident_types.empty? %>
      <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
          <%= t('general.registers_not_found') %>
      </div>
  <% else %>
    <div  class="table-responsive">
      <div class="dataTables_wrapper form-inline" role="grid">
        <table class="table table-hover dataTable no-footer">
          <thead>
            <tr>
                          <th>
                <%= t('general.attributes.name').capitalize %>
              </th>
                          <th>
                <%= t('general.attributes.icon').capitalize %>
              </th>
                        
              <th></th>
              <% if can? :edit, IncidentType %><th></th><% end %>
              <% if can? :delete, IncidentType %><th></th><% end %>
            </tr>
          </thead>

          <tbody>
            <% @incident_types.each do |incident_type| %>
              <tr>
                              <td>
                  <%= incident_type.name %>
                </td>
                              <td>
                  <i class="fa <%= incident_type.icon %>"></i>
                </td>
                              <td class="action">
                  <%= link_to incident_type do %>
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <%= t('general.links.show').capitalize %>
                  <% end %>
                </td>
              <% if can? :edit, IncidentType %><th>
                <td class="action">
                  <%= link_to edit_incident_type_path(incident_type) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                    <%= t('general.links.edit').capitalize %>
                  <% end %>
                </td>
              <% end %>
              <% if can? :delete, IncidentType %><th>
                <td class="action">
                  <%= link_to incident_type, method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                    <span class="glyphicon glyphicon-trash"></span>
                    <%= t('general.links.destroy').capitalize %>
                  <% end %>
                </td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
    <div class="col-lg-9">
      <%= will_paginate @incident_types %>
    </div>
    <% if can? :create, IncidentType %><th>
      <div class="col-lg-3 text-right">
        <%= link_to new_incident_type_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('general.actions.create', entity: t('general.models.incident_type')).capitalize %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
