<div class="panel panel-default">

  <div class="panel-heading">
    <%= t('general.models.incident_type').titleize %>
  </div>

  <div class="panel-body">
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @incident_type.name %></div>
      </div>
          <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.icon').capitalize %>:</b></div>

        <div class="col-lg-9"><i class="fa <%= @incident_type.icon %>"></i></div>
      </div>
      </div>
  <div class="panel-footer">

    <%= link_to incident_types_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, IncidentType %><th>
      <%= link_to edit_incident_type_path(@incident_type), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
