<div class="row">
  <div class="col-lg-12">
    <%= form_for(@guard_group, html: { role: 'form' }, validate: true) do |guard_groups_form| %>
      <% if @guard_group.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@guard_group.errors.count, "error") %>
            prohibited this guard_group from being saved:</h2>
          <ul>
            <% @guard_group.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= guard_groups_form.label :name, t('general.attributes.name').capitalize   %><br>
        <%= guard_groups_form.text_field :name, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= guard_groups_form.label :description, t('general.attributes.description').capitalize   %><br>
        <%= guard_groups_form.text_area :description, class: 'form-control'  %>
      </div>
      <fieldset id="fireman_data">
        <legend>
          <%= t('general.models.fireman').pluralize(I18n.locale).capitalize  %>
        </legend>

        <%= render partial: 'guards/change_fireman_select_by_user', locals: { fireman_select_id: 'user_fireman' } %>

        <%= select_table (@firemen - @guard_group.firemen), { selected: @selected_fireman_id, id: 'user_fireman', wrapper: '#firemen_list', attributes: ["code","full_name"], hidden_attributes: ['division_id'], name: 'fireman_ids[]', prompt: t('general.actions.search', entity: t('general.models.fireman')).capitalize } %>

        <%= render partial: 'firemen/summarized_list', locals: { firemen: @guard_group.firemen, tbody_id: 'firemen_list', show_actions: [] } %>
      </fieldset>

      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[guard_groups_form] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
