<div class="col-lg-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('general.editing', entity: t("general.models.guard_group")).capitalize %>
    </div>
    <div class="panel-body">
      <%= render partial: 'form', locals: { actions: actions(t('general.models.guard_group')) } %>
    </div>
  </div>
</div>
