<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.guard_group').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :name, :description) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @guard_groups.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.name').capitalize %></th>
                <th><%= t('general.attributes.description').capitalize %></th>
                <th></th>
                <% if can? :edit, GuardGroup %><th></th><% end %>
                <% if can? :delete, GuardGroup %><th></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% @guard_groups.each do |guard_group| %>
                <tr>
                  <td><%= truncate guard_group.name, length: 18 %></td>
                  <td><%= truncate guard_group.description, length: 18 %></td>
                  
                  <td class="action">
                    <%= link_to guard_group do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <% if can? :edit, GuardGroup %>
                      <td class="action">
                        <%= link_to edit_guard_group_path(guard_group) do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <%= t('general.links.edit').capitalize %>
                        <% end %>
                      </td>
                    <% end %>
                    <% if can? :delete, GuardGroup %>
                        <td class="action">
                          <%= link_to guard_group, method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                            <span class="glyphicon glyphicon-trash"></span>
                            <%= t('general.links.destroy').capitalize %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-9">
            <%= will_paginate @guard_groups %>
          </div>
          <div class="col-lg-3 text-right">
            <% if can? :create, GuardGroup %><th>
              <%= link_to new_guard_group_path, class: 'btn btn-primary' do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%= t('general.actions.create', entity: t('general.models.guard_group')).capitalize %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
</div>
