<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.guard_group').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @guard_group.name %></div>
    </div>
    <% unless (@guard_group.description || '').blank? %>
      <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.description').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @guard_group.description %></div>
      </div>
    <% end %>
    <% if @guard_group.firemen.length > 0 %>
      <h5><%= t('general.models.fireman').capitalize.pluralize(I18n.locale) %></h5>
      <%= render partial: 'firemen/summarized_list', locals: { firemen: @guard_group.firemen, show_actions: false, with_division: true } %>
    <% end %>
  </div>
  <div class="panel-footer">
    <%= link_to guard_groups_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, GuardGroup %><th>
        <%= link_to edit_guard_group_path(@guard_group), class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <%= t('general.links.edit').capitalize %>
        <% end %>
      <% end %>
    </div>
  </div>
