<div class="row">
  <div class="col-lg-12">
    <%= form_for(@vehicle, html: { role: 'form' }, validate: true) do |f| %>
      <% if @vehicle.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@vehicle.errors.count, "error") %>
            prohibited this vehicle from being saved:</h2>
          <ul>
            <% @vehicle.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-6">
            <%= f.label :code, t('attributes.vehicles.code').capitalize %><br>
            <%= f.text_field :code, class: 'form-control'  %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-lg-12">
            <%= f.label :division_id, t('attributes.vehicles.division_name').capitalize %><br>
            <%= f.collection_select(:division_id, @divisions, :id, :compound_name, {}, class: 'form-control') %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
