<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.vehicle').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :code, :fire_department_name, :division_place_name) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @vehicles.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('attributes.vehicles.code').capitalize %></th>
                <th><%= t('models.fire_department').capitalize %></th>
                <th><%= t('models.division').capitalize %></th>
                <th><%= t('general.attributes.available').capitalize %></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @vehicles.each do |vehicle| %>
                <tr>
                  <td><%= vehicle.code %></td>
                  <td><%= vehicle.fire_department_name %></td>
                  <td><%= vehicle.division_name %></td>
                  <td><%= t("general.#{(!!vehicle.available).to_s}_significant") %></td>
                  <td style="text-align:center">
                    <%= link_to edit_vehicle_path(vehicle), data: { no_turbolink: true }  do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <%= t('general.links.edit').capitalize %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <%= link_to vehicle, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
                      <span class="glyphicon glyphicon-trash"></span>
                      <%= t('general.links.destroy').capitalize %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-6">
        <%= will_paginate @vehicles %>
      </div>
      <div class="col-lg-6 text-right">
        <%= link_to new_vehicle_path, class: 'btn btn-primary' do %>
          <span class="glyphicon glyphicon-plus"></span>
          <%= t('general.actions.create', entity: t('general.models.vehicle')).capitalize %>
        <% end %>
      </div>
    </div>
  </div>
</div>
