<div class="col-lg-8">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('general.models.vehicle').titleize %>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-3"><b><%= t('attributes.vehicles.code').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @vehicle.code %></div>
      </div>
      <div class="row">
        <div class="col-lg-3"><b><%= t('general.models.fire_department').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @vehicle.fire_department_name %></div>
      </div>
      <div class="row">
        <div class="col-lg-3"><b><%= t('general.models.division').capitalize %>:</b></div>
        <div class="col-lg-9"><%= @vehicle.division_name %></div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-lg-12 text-right">
          <%= link_to vehicles_path, class: "btn btn-default"  do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            <%= t('general.links.back').capitalize %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
