/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-iconpicker.min
 *= require_tree .
 */

textarea {
	resize: vertical;
}

.row {
	word-wrap: break-word;
}

.search-group {
	margin-bottom: 0 !important;
}

.pagination {
	margin: 0 !important;
}

input.clearable {
  padding-right: 30px !important;
}

a.clear-btn {
  position: absolute;
  right: 97px;
  top: 10px;
  color: #adadad;
}

a.clear-btn:hover {
  text-decoration: none;
  color: #333;
}

.main{
  padding-top: 15px;
}

td.action, th.action, td.centred, th.centred{
  text-align:center;
}

.modified{
  background: #eee;
  color:black;
  font-weight: bold;
}

div.field_with_errors{
  background: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

div.field_with_errors input{
  -webkit-box-shadow: 0 0 5px 0 rgba(250,0,0,0.5);
  box-shadow: 0 0 5px 0 rgba(250,0,0,0.5);
}

div.field_with_errors .message{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;  
  padding:5px;
  margin-top:5px;
  margin-bottom: 8px;
  background-color: #f2dede;
  border-color: #eed3d7;
  font-weight: normal;
  width: 100%;
} 

#error_explanation{
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3!important;
  border: 1px solid #fbeed5!important;
  -webkit-border-radius: 4px!important;
  -moz-border-radius: 4px!important;
  border-radius: 4px!important;  
  padding:5px!important;
  margin-top:5px!important;
  margin-bottom: 8px!important;
  background-color: #f2dede!important;
  border-color: #eed3d7!important;
  font-weight: normal!important;
  width: 100%!important;
  color: #b94a48!important;  
}
#error_explanation h2{
  display:none!important;
}
#error_explanation ul{
  margin-bottom: 0!important;
}

div.field_with_errors label{
  /*padd*/
}

div.field_with_errors label, div.field_with_errors .message{
  color: #b94a48;  
}

.logo_container, .header-text{
  float:left;
  text-align: left;
}
.bootstrap-header *{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  color:#5d5d5d;
}

.bootstrap-header .header-text, .header-text.cbve{
  margin-left: 20px;
  margin-top: 5px; 
}
 .bootstrap-header .header-text .with-image{
  line-height: 35px;
 }

.header-text h3{
  margin-top: 8px;
  font-size:16px;
}

.header-text p{
  font-size: 14px;
}

#navbar_options{
  margin-top:3px;
}

.logo_container img{
  height: 56px;
  margin-top: 2px;
}

.user-options{
  line-height: 32px;
}

.header-text a, .header-text a:hover{
  text-decoration: none;
}

.big_table td{
  line-height: 33px!important;
}

.panel-footer.buttons{
  height: 54px;
}

.panel-footer.buttons .btn.left{
  left: 30px; 
  position: absolute;
}

.panel-footer.buttons .btn.center{
  position:absolute; 
  left: 41%;
}

.panel-footer.buttons .btn.right{
  right:30px;
  position: absolute;
}

/* scrolled combobox and with fix */
ul.typeahead.typeahead-long.dropdown-menu{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 95%;
}

#page-wrapper div.panel-heading{
  font-size: 14px;
  line-height: 32px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  color:#3d3d3d;
}

ul.typeahead.dropdown-menu {
  width: 100% !important;
}

.report-header, .report-footer{
  padding:5px;
  /*border: 1px solid #e7e7e7;*/
  color: #555;
}
.report-header{
  margin-bottom: 15px;
}
.report-footer{
  margin-top: 5px;
}
.report-header .info{
}

.report-listing-text{
   font-size: 14px;
  line-height: 32px;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  color:#3d3d3d; 
}

.well.well-sm.white{
  background: none;
}

.my-btn-mini{
  padding: 4px!important;
}
.my-btn-mini.active{
  color:white!important;
}