<div class="row">
  <div class="col-lg-12">
    <%= nested_form_for(@fireman, html: { role: 'form' }, validate: true) do |f| %>
      <% if @fireman.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fireman.errors.count, "error") %>
            prohibited this fireman from being saved:</h2>
          <ul>
            <% @fireman.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render partial: 'people/form', locals: {foreign_form: f, actions: actions(t('general.models.fireman'))} %>
      <div class="form-group">
        <%= f.label :code, t('general.attributes.code').capitalize   %><br>
        <%= f.text_field :code, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :division_id, t('general.models.division').capitalize %><br>
        <%= f.collection_select(:division_id, @division_list, :id, :compound_name, {}, class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :fireman_hierarchy_id, t('general.models.fireman_hierarchy').capitalize   %><br>
        <%= f.collection_select(:fireman_hierarchy_id, @fireman_hierarchy_list, :id, :name, {}, class: 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :fireman_classification_id, t('general.models.fireman_classification').capitalize   %><br>
        <%= f.collection_select(:fireman_classification_id, @fireman_classification_list, :id, :name, {}, class: 'form-control') %>
      </div>
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
