<% show_actions = [] if local_assigns[:show_actions].nil? %>
<% with_division = false if local_assigns[:with_division].nil? %>
<% removable_attribute = "data-select-table-removable-id" if local_assigns[:removable_attribute].nil? %>
<% tbody_id = "fireman_tbody_id" if local_assigns[:tbody_id].nil? %>
<% data_selectable_value = nil if local_assigns[:data_selectable_value].nil? %>
<% input_start_tag = "input" if local_assigns[:input_start_tag].nil? %>
<div  class="table-responsive">
  <div class="dataTables_wrapper form-inline" role="grid">
    <table class="table table-hover dataTable no-footer">
      <thead>
        <tr>
          <th><%= t('general.attributes.code').capitalize %></th>
          <th><%= t('general.attributes.full_name').capitalize %></th>
          <% if with_division %>
            <th class="text-center"><%= t('general.models.division').capitalize %></th>
          <% end %>
          <% if show_actions %>
            <th class="action"><%= t('general.links.delete').capitalize %></th>

            <% if show_actions.include?('guard') %>
              <th class="action">Guardia</th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody id="<%= tbody_id %>" data-selectable-value="<%= data_selectable_value %>">
        <% firemen.each do |fireman| %>
          <tr <%= removable_attribute %>='<%= fireman.id %>'>
            <td><%= truncate fireman.code, length: 10 %></td>
            <td><%= truncate fireman.full_name, length: 30 %></td>

            <% if with_division %>
              <td class="text-center"><%= truncate fireman.division_code, length: 30 %></td>
            <% end %>

            <% if show_actions %>
              <td class="action">
                <%#= hidden_field_tag 'fireman_ids[]', fireman.id %>
                <<%= input_start_tag %> style="display:none; height: 0; width:0;" type="hidden" name='fireman_ids[]' value="<%= fireman.id %>" />
                <a href="#"  data-no-turbolink='true' data-fireman='<%= {text: "#{fireman.code} - #{fireman.full_name}", code: fireman.code, id: fireman.id, name: fireman.full_name, division_id: fireman.division_id}.to_json %>' <%= removable_attribute %>="<%= fireman.id %>" ><span class="glyphicon glyphicon-trash"></span></a>
              </td>
              <% if show_actions.include?('guard') %>
                <td class="action" style='width: 150px'>
                  <%= select_tag "guards[#{fireman.id}]", options_for_select(Guard.actions.options), {class: 'form-control', id: 'guard_status_select'} %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>