<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.fireman').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :code, :person_name, :person_last_name, :division_place_name, :fireman_hierarchy_name, :fireman_classification_name ) %>
      </div>
    </div>    
  </div>
  <div class="panel-body">
    <% if @firemen.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th><%= t('general.attributes.code').capitalize %></th>
                <th><%= t('general.attributes.name').capitalize %></th>
                <th><%= t('general.attributes.last_name').capitalize %></th>
                <th><%= t('general.models.division').capitalize %></th>
                <th><%= t('general.attributes.fireman.hierarchy').capitalize %></th>
                <th><%= t('general.attributes.fireman.classification').capitalize %></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @firemen.each do |fireman| %>
                <tr>
                  <td><%= truncate fireman.code, length: 18 %></td>
                  <td><%= truncate fireman.name, length: 18 %></td>
                  <td><%= truncate fireman.last_name, length: 18 %></td>
                  <td class="text-center"><%= truncate fireman.division.code, length: 18 %></td>
                  <td><%= truncate fireman.fireman_hierarchy.name, length: 18 %></td>
                  <td><%= truncate fireman.fireman_classification.name, length: 18 %></td>

                  <td style="text-align:center">
                    <%= link_to fireman do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :edit, fireman %>
                      <%= link_to edit_fireman_path(fireman), data: { no_turbolink: true }  do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t('general.links.edit').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                  <td style="text-align:center">
                    <% if can? :delete, fireman %>
                      <%= link_to fireman, method: :delete, 
                      data: { confirm: t('general.are_you_sure') } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t('general.links.destroy').capitalize %>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-lg-9">
        <%= will_paginate @firemen %>
      </div>
      <div class="col-lg-3 text-right">
        <% if can? :create, Fireman %><th>
          <%= link_to new_fireman_path, class: 'btn btn-primary', data: { no_turbolink: true }  do %>
            <span class="glyphicon glyphicon-plus"></span>
            <%= t('general.actions.create', entity: t('general.models.fireman')).capitalize %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
