<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.fireman').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.models.division').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.division.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.fireman.hierarchy').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.fireman_hierarchy.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.fireman.classification').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.fireman_classification.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.last_name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.last_name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.birth_date').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.birth_date %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.phone_number').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.phone_number %></div>
    </div>
    <% @fireman.person.addresses.each do |address| %>
      <div class="row">
        <div class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>
            (<%= address.address_type.name %>):</b></div>
        <div class="col-lg-9"><%= address.name %></div>

        <% unless address.references.nil? or address.references.empty? %>
          <div class="col-lg-3"><b><%= t('general.attributes.references').capitalize %>:</b></div>
          <div class="col-lg-9"> <%= address.references %> </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <%= gmap_show(address.latitude, address.longitude, address.hash.abs) %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.gender').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman.gender %></div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to firemen_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, @fireman %>
      <%= link_to edit_fireman_path(@fireman), class: 'btn btn-primary', data: { no_turbolink: true }  do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
