   <% unless current_user.nil? %>
        <% unless current_user.fireman.nil? %>
          <% curr_division = current_user.fireman.division %>
          <% curr_fire_department = current_user.fireman.division.fire_department %>
          <div class="report-header bootstrap-header col-lg-12">
            <div class="">
              <div class="logo_container">
                <div class="logo image_container">
                  <% if curr_division.logo? %>
                    <%= image_show(curr_division) %>
                  <% elsif curr_fire_department.logo? %>
                    <%= image_show(curr_fire_department) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="header-text">
              <h3>
                <%= curr_fire_department.name %>
                <p>
                  <%= "#{curr_division.name} - #{curr_division.address.name}" %>
                  <br/>
                  <%= listing_text %>
                </p>
              </h3>

              <!-- <div class="info">

                <%#= curr_fire_department.name.html_safe %><br/>
                <%#= curr_division.name %><br/>
                <%# phone_info = curr_division.phone_number.nil? ? '' : " - #{curr_division.phone_number}" %>
                <%# phone_info = '' %>
                <%#= "#{curr_division.address.name}#{phone_info}" %>
              </div> -->
            </div>
          </div>
        <% end %>
      <% end %>
