<% per_page = 22 if local_assigns[:per_page].nil? %>
<% column_quantity = header_attributes.length %>
<% built_header = capture do %>
  <tr class="header">
    <td colspan="<%= column_quantity %>">
      <%= render partial: 'reports/header', locals: { listing_text: listing_text } %>
      <!-- <div class="report-listing-text">
        <%=  %>  
      </div> -->
    </td>
  </tr>
  <tr class="header">
    <% header_attributes.each do |text| %>
      <td><%= text %></td>
    <% end %>
  </tr>
<% end %>
<% if list.empty? %>
    <%= t('general.registers_not_found') %>
<% else %>
  <div  class="">
    <div class="" role="" style="display:block">
      <table class="" style="display:block">
        <thead>
           <tr>
            <th colspan="<%=column_quantity %>">
              <%= render partial: 'reports/header', locals: { listing_text: listing_text } %>
            </th>
          </tr>
          <tr>
            <% header_attributes.each do |text| %>
              <th><%= text %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% list.each_with_index do |element, index| %>

            <% if false %>
              <% # the code bellow will never be reached %>
                <% if index%per_page == 0 && index != 0 %>
                  <tr style="border:none; height:0px;">
                      <td colspan="<%= column_quantity %>" style="border:none; height:1px" >
                        <!-- <p  style="page-break-after: always; " ></p> -->
                      </td>
                  </tr>
                  <%= built_header %>
                <% end %>

            <% end %>
            <%= yield(element) %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
