<div class="row">
  <div class="col-lg-12">
    <%= form_for(@fireman_hierarchy, html: { role: 'form' }, validate: true) do |f| %>
      <% if @fireman_hierarchy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fireman_hierarchy.errors.count, "error") %>
            prohibited this fireman_hierarchy from being saved:</h2>
          <ul>
            <% @fireman_hierarchy.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, t('general.attributes.name').capitalize   %><br>
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :description, t('general.attributes.description').capitalize   %><br>
        <%= f.text_area :description, class: 'form-control'  %>
      </div>
      <div class="form-group">
        <%= f.label :superior_id, t('general.attributes.superior').capitalize   %><br>
        <%= f.collection_select(:superior_id, @available_hierarchies, :id, :name, {include_blank: true}, class: 'form-control') %>
      </div>
      
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
