<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.fireman_hierarchy').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman_hierarchy.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.description').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman_hierarchy.description || "-"  %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.superior').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @fireman_hierarchy.superior_name %></div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to fireman_hierarchies_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, FiremanClassification %>
      <%= link_to edit_fireman_hierarchy_path(@fireman_hierarchy), class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('general.links.edit').capitalize %>
      <% end %>
    <% end %>
  </div>
</div>
