<div class="row">
  <div class="col-lg-12">
    <%= form_for(@place, html: { role: 'form' }, validate: true) do |f| %>
      <% if @place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@place.errors.count, "error") %>
            prohibited this place from being saved:</h2>
          <ul>
            <% @place.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :name, t('general.attributes.name').capitalize   %><br>
        <% field_attributes = {class: 'form-control'} %>
        <% field_attributes[:disabled] =  true if @place.has_division? %>
        <%= f.text_field :name,  field_attributes %>
      </div>
      <%= gmap_picker(f, @place) %>
      <div class="row">
        <div class="col-lg-12 text-right actions">
          <%= actions[f] %>
        </div>
      </div>
    <% end %>
  </div>
</div>
