<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5">
        <%= t('general.listing', entity: t('general.models.place').pluralize(I18n.locale)).capitalize %>
      </div>
      <div class="col-lg-7">
        <%= panel_heading_search_form_for(@query, :name, :address_name) %>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <% if @places.empty? %>
      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <%= t('general.registers_not_found') %>
      </div>
    <% else %>
      <div  class="table-responsive">
        <div class="dataTables_wrapper form-inline" role="grid">
          <table class="table table-hover dataTable no-footer">
            <thead>
              <tr>
                <th>
                  <%= t('general.attributes.name').capitalize %>
                </th>
                <th>
                  <%= t('general.attributes.address').capitalize %>
                </th>
                <th></th>
                <% if can? :edit, Place %><th></th><% end %>
                <% if can? :delete, Place %><th></th><% end %>
              </tr>
            </thead>
            <tbody>
              <% @places.each do |place| %>
                <tr>
                  <td>
                    <%= place.name %>
                  </td>
                  <td>
                    <%= place.address_name %>
                  </td>
                  <td class="action">
                    <%= link_to place do %>
                      <span class="glyphicon glyphicon-info-sign"></span>
                      <%= t('general.links.show').capitalize %>
                    <% end %>
                  </td>
                  <% if can? :edit, Place %><th>
                      <td class="action">
                        <%= link_to edit_place_path(place) do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                          <%= t('general.links.edit').capitalize %>
                        <% end %>
                      </td>
                    <% end %>
                    <% if can? :delete, Place %><th>
                        <td class="action">
                          <%= link_to place, method: :delete, 
                    data: { confirm: t('general.are_you_sure') } do %>
                            <span class="glyphicon glyphicon-trash"></span>
                            <%= t('general.links.destroy').capitalize %>
                          <% end %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
      <div class="panel-footer">
        <% if can? :create, Place %><th>
            <%= link_to new_place_path, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%= t('general.actions.create', entity: t('general.models.place')).capitalize %>
            <% end %>
          <% end %>
        </div>
      </div>
