<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('general.models.place').titleize %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.name').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @place.name %></div>
    </div>
    <div class="row">
      <div class="col-lg-3"><b><%= t('general.attributes.address').capitalize %>:</b></div>
      <div class="col-lg-9"><%= @place.address.name %>
      </div>
      <% unless @place.address.references.nil? or @place.address.references.empty? %>
        <div class="col-lg-3"><b><%= t('general.attributes.references').capitalize %>:</b></div>
        <div class="col-lg-9">
          <%= @place.address.references %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= gmap_show(@place.address.latitude, @place.address.longitude) %>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <%= link_to places_path, class: "btn btn-default"  do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      <%= t('general.links.back').capitalize %>
    <% end %>
    <% if can? :edit, @place %><th>
        <%= link_to edit_place_path(@place), class: 'btn btn-primary', data: { no_turbolink: true } do %>
          <span class="glyphicon glyphicon-pencil"></span>
          <%= t('general.links.edit').capitalize %>
        <% end %>
      <% end %>
    </div>
  </div>
