<% unless current_user.nil? %>
  <% unless current_user.fireman.nil? %>
    <% curr_division = current_user.fireman.division %>
    <% curr_fire_department = current_user.fireman.division.fire_department %>
    <div class="bootstrap-header">

        <div class="logo_container">
          <div class="logo image_container">
            <% if curr_division.logo? %>
              <%= link_to image_show(curr_division), root_path %>
            <% elsif curr_fire_department.logo? %>
              <%= link_to image_show(curr_fire_department), root_path %>
            <% end %>
          </div>
        </div>

        <div class="header-text">
          <h3>
            <%= link_to curr_fire_department.name, fire_department_path(curr_fire_department) %>
            <p>
              <%= link_to "#{curr_division.name} - #{curr_division.address.name}", division_path(curr_division) %>
            </p>
          </h3>
        </div>

    </div>
  <% end %>
<% end %>