<li class="active">
  <ul class="nav nav-second-level collapse in" style="height: auto;">

  <%= sub_menu( "<i class='fa fa-check-square-o'></i>&nbsp;#{t('general.models.guard').pluralize(I18n.locale).capitalize}",
    [
      {class: GuardGroup, action: :index, path: guard_groups_path, text: t('general.models.guard_group').pluralize(I18n.locale).capitalize},
      {class: Guard, action: :active, path: guards_active_path, text: t('general.models.guard_active').capitalize},
      {class: Guard, action: :active, path: guards_search_path, text: t('general.actions.search', entity: t('general.models.guard')).capitalize},
    ], 'third') %>

  <%= sub_menu("<i class='fa fa-users'></i>&nbsp;#{t('general.links.admin').capitalize}",
    [
      {class: PaperTrail::Version, action: :index, path: paper_trail_versions_path, text: t('general.models.version').pluralize(I18n.locale).capitalize },
      {class: Transference, action: :index, path: transferences_path, text: t('general.models.transference').pluralize(I18n.locale).capitalize },      
      {class: Transference, action: :index, path: search_transferences_path, text: t('general.actions.search', entity: t('general.models.transference')).capitalize },            
      {class: User, action: :index, path: users_path, text: t('general.models.user').pluralize(I18n.locale).capitalize}
    ], 'third') %>

  <%= sub_menu("<i class='fa fa-sliders'></i>&nbsp;#{t('general.configuration').capitalize}",
    [
      {class: AddressType, action: :index, path: address_types_path, text: t('general.models.address_type').pluralize(I18n.locale).capitalize },
      {class: FiremanHierarchy, action: :index, path: fireman_hierarchies_path, text: t('general.models.fireman_hierarchy').pluralize(I18n.locale).capitalize },
      {class: Place, action: :index, path: places_path, text: t('general.models.place').pluralize(I18n.locale).capitalize },
      {class: IncidentType, action: :index, path: incident_types_path, text: t('general.models.incident_type').pluralize(I18n.locale).capitalize },      
      {class: FiremanClassification, action: :index, path: fireman_classifications_path, text: t('general.models.fireman_classification').pluralize(I18n.locale).capitalize }
    ], 'third') %>

    

    <% if can? :index, FireDepartment %>
      <li>
        <%= link_to t('general.models.fire_department').pluralize(I18n.locale).capitalize, fire_departments_path %>
      </li>
    <% end %>
    <% if can? :index, Division %>
      <li>
        <%= link_to t('general.models.division').pluralize(I18n.locale).capitalize, divisions_path %>
      </li>
    <% end %>
    <% if can? :index, Complaint %>
      <li>
        <%= link_to t('general.models.complaint').pluralize(I18n.locale).capitalize, complaints_path %>
      </li>
    <% end %>
    <% if can? :index, Fireman %>
      <li>
        <%= link_to t('general.models.fireman').pluralize(I18n.locale).capitalize, firemen_path %>
      </li>
    <% end %>
    <% if can? :index, Vehicle %>
      <li>
        <%= link_to t('general.models.vehicle').pluralize(I18n.locale).capitalize, vehicles_path %>
      </li>
    <% end %>

  </ul>
</li>
