
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBVE Web System</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%= load_gmap_resources %>
  </head>
  <body>
    <div id="wrapper">
      <div role="navigation" class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
        <div class="container-fluid">
          <div class="navbar-header">
            <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
              <i class="fa fa-paper-plane fa-fw"></i>
            </button>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <% unless current_user.nil? %>
              <% unless current_user.fireman.nil? %>
                <%= render 'layouts/header' %>
              <% end %>
            <% end %>
          </div>
          
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" id="navbar_options">
              <li><%= link_to raw("<i class='fa fa-plus fa-fw'></i> #{t('general.new_complaint').capitalize}"), new_complaint_path %></li>

              
              <% if @current_action_is_reportable && can?(:print, Object) %>
                <li>
                  <a href="#" data-no-turbolink="true" class="print-report">
                  <span class="glyphicon glyphicon-print"></span>
                  &nbsp;
                  <%= t('general.print_report') %>
                  </a>
                </li>
              <% end %>
                <li>
                  <%= (link_to(current_user.login, user_path(current_user))) unless current_user.nil? %>
                </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i>&nbsp;<%= t('general.option').pluralize(I18n.locale).capitalize %>&nbsp;<i class="fa fa-caret-down"></i>
                </a>

                <ul class="dropdown-menu">
                  <li><%= link_to raw('<i class="fa fa-pencil fa-fw"></i> '+t('general.edit_account')), edit_user_path(current_user) %></li>
                  <li><%= link_to raw('<i class="fa fa-sign-out fa-fw"></i> '+t('general.logout')), destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>

      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <%= render 'layouts/menu' %>
          </ul>
          <!-- /#side-menu -->
        </div>
        <!-- /.sidebar-collapse -->
      </nav>
      <!-- /.navbar-static-side -->
      <div id="page-wrapper">
        <div class="row main">
          <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissable <%= 'hide' unless alert %>"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><%= alert %></div>
          </div>
          <div class="col-lg-12">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
