<!DOCTYPE html>
<html style="overflow-x: visible; width:100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBVE Web System</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => false %>
    <%= csrf_meta_tags %>
    <%#= load_gmap_resources %>
<!--     <style type="text/css">
        @media print {
           thead {display: table-header-group;}
        }

        thead {display: table-header-group;}
        table { page-break-inside:auto }
        tr{ 
            page-break-inside:avoid; 
            page-break-after:auto;
         }
         td, td .unbreakable {
          page-break-inside: avoid;          
         }
        thead { display:table-header-group }
        tfoot { display:table-footer-group }
    </style>
 -->  
  <style type="text/css" media="print,screen" >
      thead {display: table-header-group;}
    table { page-break-inside:auto }
    tr{ 
        page-break-inside:avoid; 
        page-break-after:auto;
     }
     td, td .unbreakable {
      page-break-inside: avoid; 
      padding: 5px;         
     }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }

    @media print {
       thead {display: table-header-group!important;}
       thead {display: table-header-group;}
    }
    thead {display: table-header-group;}
    th {
        font-family:Arial;
        color:black;
        background-color:lightgrey;
    }
    thead {
        display:table-header-group;
    }
    tbody {
        display:table-row-group;
    }
    table td {
     border-bottom:1px solid gray;
    }
    tr {page-break-inside: avoid;}
    tr.header, .header td{
      font-weight: bold;
      border:none;
    }
     .header td, th{
      padding: 5px;
      font-weight: bold;
      text-align: center;
    }
  </style>
 </head>
  <body>
    <div id="wrapper">


      <div class="col-lg-12">
        <%= yield %>
      </div>

    </div>
    <script type="text/javascript">
      window.print();
    </script>
  </body>
</html>